<% content_for :page_title do page_title('Hearings Help') end %>

<div class="cf-app-segment cf-app-segment--alt cf-help-content">
  <h1 id="#top">Welcome to the Hearings Help page!</h1>
   <p>Here you will find <a href="#training-videos"> Training Videos</a> and <a href="#faq"> Frequently Asked Questions (FAQs)</a> for Hearing Prep, as well as links to the <%= link_to "Training Guide", asset_path("hearingprep_trainingguide.pdf"), target: "_blank" %> and the  <%= link_to "Quick Reference", asset_path("hearingprep_quickreference.pdf"), target: "_blank" %>. These items are provided to assist you as you access and use Hearing Prep. If you require further assistance after reviewing these items, please contact the Caseflow Product Support Team by phone (1-844-876-5548) or email <a href ="mailto: caseflow@va.gov">(caseflow@va.gov)</a>. We look forward to assisting you.
   </p>

   <h1 id="training-videos">Training Videos</h1>
     <div class="cf-help-divider"></div>

     <div class="cf-lead-paragraph">Coming Soon!</div>

  <h1 id="faq">Frequently Asked Questions</h1>

  <div class="cf-help-divider"></div>

  <ul id="toc" class="usa-unstyled-list">
    <li><a href="#what-is-caseflow-hearing-PREP">1. What is Caseflow Hearing Prep?</a></li>
    <li><a href="#how-was-hearing-developed">2. How was Hearing Prep developed?</a></li>
    <li><a href="#how-to-access-hearing-prep">3. How do I get access to Hearing Prep?</a></li>
    <li><a href="#launch-hearing-prep">4. How do I launch Hearing Prep?</a></li>
    <li><a href="#view-docket">5. How do I view my hearing docket for a specific day?</a></li>
    <li><a href="#how-to-access-hearing-worksheet">6. How do I access the Hearing Worksheet?</a></li>
    <li><a href="#notes-on-daily-docket">7. Where do the Notes on the Daily Docket come from?</a></li>
    <li><a href="#transcript-requested-box">8. What is the Transcript Requested box used for?<a></li>
    <li><a href="#return-to-upcoming">9. How do I return to the Upcoming Hearing Days page?</a></li>
    <li><a href="#delete-issues-hearing-worksheet">10. How do I add or delete issues on the Hearing Worksheet?</a></li>
    <li><a href="#review-appellaant-eFolder">11. How do I review the appellant’s eFolder?</a></li>
    <li><a href="#issue-descriptions-hearing-worksheet">12. Where do the Issue Descriptions on the Hearing Worksheet come from?</a></li>
    <li><a href="#information-on-hearing-worksheet-saved-vacols?">13. What information on the Hearing Worksheet is saved to VACOLS?</a></li>
    <li><a href="#preliminary-mpressions-boxes">14. How are the Preliminary Impressions boxes on the Hearing Worksheet used?</a></li>
    <li><a href="#case-summary-category-in-reader ">15. What does the Case Summary category in Reader represent?</a></li>
    <li><a href="#documents-in-reader-come">16. Where do the documents in Reader come from?</a></li>
    <li><a href="#encounter-problems">17. What should I do if I encounter problems?</a></li>
    <li><a href="#share-feedback">18. How do I share my feedback for improving Hearing Prep?</a></li>
    <li><a href="#need-help">19. What if I still need help?</a></li>
  </ul>

  <div class="cf-help-divider"></div>
  <h2 id="#what-is-caseflow-hearing-PREP">1. What is Caseflow Hearing Prep?</h2>
  <p>
    Caseflow Hearing Prep helps judges rapidly prepare for their hearings. It allows judges to view their upcoming hearings, view relevant appellant information, take notes before and during a hearing, and review documents in the veteran's eFolder. Hearing Prep was built by the Digital Service at VA (DSVA) and will create cost savings and process improvements for many areas at the VA. Learn more:
    <%= link_to "Training Guide", asset_path("hearingprep_trainingguide.pdf"), target: "_blank" %>
  </p>
  
  <h2 id="#how-was-hearing-developed">2. How was Hearing Prep developed?</h2>
  <p>
    The Digital Service at VA (DSVA) team worked closely with judges at BVA and other stakeholders across VA, to develop and test a Hearing Prep prototype. Using feedback from VA employees and human-centered design principles, DSVA has tweaked and improved the tool steadily, and will continue improving the tool as they collect more feedback from its users.
  </p>

  <h2 id="#how-to-access-hearing-prep">3. How do I get access to Hearing Prep?</h2>
  <p>
    To gain access to Hearing Prep, you must submit a request to your Information Security Officer (ISO) and/or Information Resources Management (IRM) team to adjust your Common Security Employee Manager (CSEM) permissions. To initiate the request, draft an email requesting your current permissions be updated as follows:
  </p>

  <p class="cf-help-image-wrapper">
    <%= image_tag 'help/hearing-access.png', {class: "cf-help-image", alt: 'Hearing Access'} %>
  </p>

  <p>
    Once the email is drafted, attach a copy of your latest “VA Privacy and Information Security Awareness and Rules of Behavior” training certificate and forward the email to your supervisor for approval. If approved, your supervisor should forward the request to your station’s IRM team and/or ISO for entry into CSEM. You will receive an email notice once access is granted.
  </p>

  <h2 id="#launch-hearing-prep">4. How do I launch Hearing Prep?</h2>
  <p>
    To launch Hearing Prep, open Google Chrome and paste the following URL into the browser: <a href='https://appeals.cf.ds.va.gov/hearings/dockets' target="_blank"> https://appeals.cf.ds.va.gov/hearings/dockets</a>. Hit Enter and sign in using your VA credentials. You will be taken to the Hearing Prep Upcoming Hearing Days page.
  </p>
  
  <h2 id="#view-docket">5. How do I view my hearing docket for a specific day?</h2>
  <p>
    To view your hearing docket for a specific day, on the Upcoming Hearing Days page, click on the date that you would like to view. You will be taken to the Daily Docket for that specific date and will be able to view all the hearings scheduled for that day.
  </p>

  <h2 id="#how-to-access-hearing-worksheet">6. How do I access the Hearing Worksheet?</h2>
  <p>
    The Hearing Worksheet can be accessed by clicking on the Veteran’s VBMS ID located below the name of the Appellant. On the Hearing Worksheet, you will be able to view Appellant/Veteran Profile Information, Appeal Stream Documents and Issues, Contentions, Periods and circumstances of service, Evidence, and your Comments and special instructions to attorneys.
  </p>

  <h2 id="#notes-on-daily-docket">7. Where do the Notes on the Daily Docket come from?</h2>
  <p>
    The Notes listed on the Daily Docket are pulled from VACOLS. This information is usually updated by the Hearing Coordinator at the Regional Office. The Notes include contextual information related to the hearing.
  </p>

  <h2 id="#transcript-requested-box">8. What is the Transcript Requested box used for?</h2>
  <p>
    The Transcript Requested box is used to indicate that the Veteran has requested a transcript of the hearing.
  </p>

  <h2 id="#return-to-upcoming">9. How do I return to the Upcoming Hearing Days page?</h2>
  <p>
    You can return to the Upcoming Hearing Days page from any page by clicking on the Caseflow Hearing Prep icon located in the upper left-hand corner of the screen or by clicking the <b>Back to Upcoming Hearing Days</b> link located on the bottom left-hand corner of the Daily Docket page.
  </p>

  <h2 id="#delete-issues-hearing-worksheet">10. How do I add or delete issues on the Hearing Worksheet?</h2>
  <p>
    To add an issue, click the <b>+ Add Issue</b> button located on the left side of the Issues section of the Hearing Worksheet. A row of boxes will appear below the last issue. Complete the boxes with the required information. To delete an issue, click the trashcan located to the right of the issue. A Remove Issue Row confirmation box appears. Click <b>Yes</b> to confirm the deletion. Remember, removing the issue on the Hearing Worksheet does not remove the issue from VACOLS.
  </p>

  <h2 id="#review-appellaant-eFolder">11. How do I review the appellant’s eFolder?</h2>
  <p>
    If you are on the Daily Docket page, click on the Veteran’s VBMS ID link located below the name of the Appellant whose efolder you wish to review. You will be taken to the Appellant’s Hearing Worksheet. To begin reviewing the Appellant’s eFolder, click on the <b>Review eFolder</b> button located at the bottom right-hand corner of the Hearing Worksheet page.
  </p>

  <h2 id="#issue-descriptions-hearing-worksheet">12. Where do the Issue Descriptions on the Hearing Worksheet come from?</h2>
  <p>
    The Issue Descriptions on the Hearing Worksheet are pulled from VACOLS.
  </p>

  <h2 id="#information-on-hearing-worksheet-saved-vacols?">13. What information on the Hearing Worksheet is saved to VACOLS?</h2>
  <p>
    None of the information on the Hearing Worksheet is saved to VACOLS. Only the information changed on the Daily Docket is saved back to VACOLS.
  </p>

  <h2 id="#preliminary-mpressions-boxes">14. How are the Preliminary Impressions boxes on the Hearing Worksheet used?</h2>
  <p>
    The Preliminary Impressions boxes are used to indicate your first thoughts about the issues associated with the case. You may select more than one or none at all. The issue indicators are Re-Open, Dismiss, Allow, Deny, Remand, and VHA.
  </p>

  <h2 id="#case-summary-category-in-reader ">15. What does the Case Summary category in Reader represent?</h2>
  <p>
    The Case Summary category is used to identify the key documents used by a judge when preparing for a hearing. The list includes the Notice of Disagreement, Statement of Case, VA 9 Appeal to Board of Appeals, VA8 Certification of Appeal, BVA Decision, Supplement Statement of Case, DD Form 214 – Certificate of Release or Discharge from Active Duty, VA 21-526EZ - Fully Developed Claim (Compensation), VA 21-527EZ - Fully Developed Claim (Pension), and the Rating Decision.
  </p>

  <h2 id="#documents-in-reader-come">16. Where do the documents in Reader come from?</h2>
  <p>
    The documents used in Reader come from VBMS.
  </p>
 
  <h2 id="#encounter-problems">17. What should I do if I encounter problems?</h2>
  <p>
    If you encounter any problems while using Hearing Prep, contact the Caseflow Product Support Team by calling 1-844-876-5548 or sending an email to <a href ="mailto: caseflow@va.gov">caseflow@va.gov</a>. They can be reached from 8:00AM to 8:00PM EST.
  </p>

  <h2 href="#share-feedback">18. How do I share my feedback for improving Hearing Prep?</h2>
  <p>
    You can use the "Send feedback" link located in the dropdown menu next to your username, or the “Send feedback” link located at the bottom right-hand corner of the screen, to share your ideas for improving Hearing Prep.
  </p>

  <h2 href="#need-help">19. What if I still need help?</h2>
  <p>
    If you require further assistance after reviewing the FAQs, Quick Reference Guide, or Training Guide, please contact the Caseflow Product Support Team by phone (1-844-876-5548) or email <a href ="mailto: caseflow@va.gov">(caseflow@va.gov)</a>. We look forward to assisting you.
  </p>

</div>

<div class="cf-app-segment">
  <div class="cf-push-left">
    <a href ="#top">Back To Top</a>
  </div>
</div>

