{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-0",
    "react"
  ],
  "env": {
    // only enable it when process.env.NODE_ENV is 'development-hot' or undefined
    "development-hot": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
