<h3>What if I miss my hearing?</h3>
<p>
  Please carefully consider the implications of missing or postponing your hearing, as this will significantly increase wait-times for subsequent hearings. If you choose to no-show your hearing, you will directly contribute to increased wait-times for your fellow Veterans.
</p>
<h3>What if I need to reschedule my hearing?</h3>
<p>
  Please carefully consider the implications of missing or postponing your hearing, as this will significantly increase wait-times for subsequent hearings. If you choose to no-show your hearing, you will directly contribute to increased wait-times for your fellow Veterans.
</p>
<h3>What if I need to withdraw (cancel) my hearing?</h3>
<p>
  If you no longer want a hearing, please send a written request to withdraw or cancel your hearing by fax to (844) 678-8979, or by mail to Board of Veterans’ Appeals, P.O. Box 27063, Washington, DC 20038.
</p>
  <% if @virtual_hearing.nil? %>
  <h3>What is a virtual tele-hearing?</h3>
  <p>
    Rather than traveling to a VA facility for a hearing, a virtual tele-hearing allows you to use a smartphone, computer, or tablet to meet with a Judge from the location of your choice, including home.  Your device must have a reliable internet connection, a camera, and a microphone (which most mobile phones have). Family members or caregivers may assist you, and your representative, if you have one, may join the hearing the same way from their respective location.
  </p>
  <p>
    We strongly encourage you to consider requesting a virtual tele-hearing and enjoy the convenience that this new hearing type offers.
  </p>
  <p style="color:#666666">How do I request a virtual tele-hearing? </p>
  <p>
    If you would like to switch to a virtual tele-hearing, please <%= external_link "https://www.bva.va.gov/docs/RO_Coordinator_Assignments.pdf", display_text: "click here to contact the hearing coordinator for your Regional Office."%>
  </p>
  <% end %>
</br>
<p>
  If you have a representative, we encourage you to contact them with any questions about your appeal, or about the information presented above. To obtain the status of your appeal, please call 1-800-827-1000 or visit <%= external_link "https://www.va.gov/claim-or-appeal-status/" %>
</p>
