<h3>
  Help Desk
</h3>
<p>
  If you are experiencing technical difficulties, call the VA Video Connect Helpdesk at
  <%= phone_link 855, 519, 7116 %> and press 4 for Board of Veterans' Appeals support.
</p>
