<h3>
  How to Join on Hearing Day
</h3>
<p>
  Join 15 minutes before your hearing start time.
  Click on the link <u>below</u>, or copy and paste the link into the address
  field of your web browser:<br><%= external_link @link %>
</p>
