<h3>
 How to Join <%= defined?(reminder_type) && defined?(recipient) && reminder_type != Hearings::ReminderService::SIXTY_DAY_REMINDER && reminder_type != Hearings::ReminderService::THIRTY_DAY_REMINDER && recipient == HearingEmailRecipient::RECIPIENT_TITLES[:appellant] ? "" : "on Hearing Day" %>
</h3>
<p>
  Join 15 minutes before your hearing start time.
  Click on the link <u>below</u>, or copy and paste the link into the address
  field of your web browser:<br><%= external_link @link %>
</p>
<p>IMPORTANT:  You must click on the video button (icon) to enter the virtual hearing room.</p>
