<br />
<br />
<p>
  For internal Board use:
  <%= appellant_state(@hearing&.appeal || @virtual_hearing.hearing.appeal) %>
  <a href="<%= caseflow_url(@hearing&.appeal || @virtual_hearing.hearing.appeal) %>">CF</a>
</p>
