<h3>What if I need to reschedule my hearing?</h3>
<p>
  Send a written request to reschedule your hearing at least two weeks before your scheduled hearing explaining why you have “good cause” for rescheduling the hearing. If your hearing is less than 15 days away, or you missed your hearing and would like to reschedule, you must file a written motion for a new hearing date within 15 days of the originally scheduled hearing date, explaining why you missed the hearing and/or why a timely request for a new hearing date could not have been submitted.
</p>
<p>
  A VLJ will review your request and decide if the hearing can be rescheduled. You will get a decision about rescheduling your hearing in the mail. Examples of good cause include, but are not limited to, illness of the appellant and/or representative, difficulty in obtaining necessary records, and unavailability of a necessary witness.
</p>

<h3>What if I need to withdraw (cancel) my hearing?</h3>
<p>
  If you no longer want a hearing, please send a written request to withdraw or cancel your hearing by fax to (844) 678-8979, or by mail to Board of Veterans’ Appeals, P.O. Box 27063, Washington, DC 20038.
</p>
