<h3>What if I wish to reschedule my hearing?</h3>
<p>
  Send a written request to reschedule your hearing at least two weeks before your hearing date.  You must provide a good cause reason for why rescheduling is necessary.  
</p>
<h3>What if I fail to appear for my hearing?</h3>
<p>
  If you miss your hearing and would like to reschedule, you must file a written motion for a new hearing within 15 days of the originally scheduled hearing date.  You must explain why you missed the hearing and/or why a timely request for a new hearing date could not have been submitted.
</p>
<h3>What if I wish to withdraw my hearing?</h3>
<p>
  If you no longer want a hearing and instead want the judge to make a decision based on the evidence of record, please let us know in writing.
</p>
<h3>Where do I send written requests?</h3>
<p>Board of Veterans’ Appeals<br>
P.O. Box 27063<br>
Washington, DC 20038<br>
Toll-Free Fax:  (844) 678-8979</p>

<p>If you have a representative, we encourage you to contact them with any questions about the information provided above.  To obtain the status of your appeal, please call 1-800-827-1000 or visit <a href="https://www.va.gov/claim-or-appeal-status/">https://www.va.gov/claim-or-appeal-status/</a>.<p>
