<h3>
  Test Your Connection At Least 2 Days Before Your Hearing
</h3>
  <p>
    Test your audio and video connection by visiting the VA Video Connect test site with the device you plan to use for your hearing:<br><%= external_link @test_link %>
  </p>
