# Ignore bundler config.
/.bundle

client/.eslintcache
client/yarn-error.log

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
.byebug_history
/log/*
!/log/.keep
/tmp
/coverage
/reports/*
!/reports/.keep

# Ignore vim swap files
*.swp

# Ignore Oracle files in docker-bin
docker-bin/oracle_libs/*
