version: '3'
services:
  vacols-db:
    build: ./local/vacols/.
    container_name: VACOLS_DB
    image: vacols_db
    tty: true
    stdin_open: true
    command: bash -c "/home/oracle/setup/dockerInit.sh"
    volumes:
      - "u01:/u01/app/oracle/oradata"
      - "ORCL:/ORCL"
      - "u02:/u02"
    ports:
      - "1521:1521"

  appeals-redis:
    image: redis:2.8.23
    ports:
      - "6379:6379"

  appeals-postgres:
    image: postgres:9.3.14
    ports:
      - "5432:5432"
    volumes:
     - ./local/postgres/data/pg-data:/var/lib/postgressql/data
    environment:
     - POSTGRES_PASSWORD=postgres
     - PGDATA=/var/lib/postgressql/data

volumes:
  u01:
  ORCL:
  u02:
