version: '3'
services:
  db:
    image: postgres:9.3.14
    environment:

      POSTGRES_PASSWORD: 1234
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      # Mount the DB dumps folder into the container, to be able to create & access database dumps:
      - ./db/dumps:/db/dumps
      # Mount out tmp folder, we might want to have access to something there during development:
      - ./tmp:/tmp
      # Mount the 'postgres-data' volume into the location Postgres stores it's data:
      - ./pgdata:/var/lib/postgresql/data/pgdata
    ports:
      - "5433:5432"

  redis:
    image: redis:3.2-alpine
    command: redis-server
    ports:
      - "6380:6379"
    volumes:
      # Mount the 'redis-data' volume into the location redis stores it's data:
      - ./redis-data:/var/lib/redis

  rails:
    image: caseflow
    volumes:
      - .:/caseflow
    entrypoint: /bin/bash
    # Keep the stdin open, so we can attach to our app container's process and do things such as
    # byebug, etc:
    stdin_open: true
    command: foreman start -f Procfile
    ports:
      - "3000:3000"
      - "3500:3500"
    depends_on:
      - db
      - redis
    links:
      - db
      - redis
    environment:
      - RAILS_ENV=development
      - POSTGRES_HOST=db
      - POSTGRES_PASSWORD=1234
      - REDIS_URL_CACHE=redis://redis:6379/1/cache
      - REDIS_URL_SIDEKIQ=redis://redis:6379
