

{{ $url :=  index .Params "url" }}
{{ $tableClass :=  index .Params "cssClass" }}
{{ $colNames :=  split (trim .Inner " \n") "," }}
{{ $csvData := getCSV "," $url }}
<!-- build the dictionary of columnName to index -->
{{ $scratch := newScratch }}
{{ $scratch.Set "csvColDict" dict }}
{{ range $index, $col := (index $csvData 0) }}
  {{ $scratch.Set "csvColDict" (merge ($scratch.Get "csvColDict") (dict $col $index)) }}
{{ end }}
{{ $csvColDict :=  ($scratch.Get "csvColDict") }}

Source: <a href={{ $url }}>{{ $url }}</a>
<!-- if colNames.empty?, show all colNames; else create a col=>index map -->
<hr/>

<details><summary><b>Tables</b></summary>

{{ $scratch.Set "tableNameCurrent" "" }}
{{ range $row := (after 1 $csvData) }}
  {{ $tableName := index $row (index $csvColDict "Table") }}
  {{ if not (eq ($scratch.Get "tableNameCurrent") $tableName) }}
    {{ $scratch.Set "tableNameCurrent" $tableName }}
    <li><a href="#{{ $tableName }}">{{ $tableName }}</a></li>
  {{ end }}
{{ end }}
</details>

{{ $scratch.Set "tableNameCurrent" "" }}
{{ range $row := (after 1 $csvData) }}
  {{ $tableName := index $row (index $csvColDict "Table") }}
  {{ if not (eq ($scratch.Get "tableNameCurrent") $tableName) }}
    {{ $scratch.Set "tableNameCurrent" $tableName }}
    {{ if not (eq ($scratch.Get "tableNameCurrent") "") }}
        </tbody>
      </table>
    {{ end }}
    <h2 id="{{ $tableName }}">'{{ $tableName }}' table</h2>
    <div class="tableComment">{{ index $row (index $csvColDict "Description") }}</div>
    <table class="{{ $tableClass }} {{ $tableName }}">
    <thead>
      <tr>
        {{ range $colNames }}
          <th class="{{ . }}"><div class="outer"><div class="inner">{{ . }}</div><div></th>
        {{ end }}
      </tr>
    </thead>
    <tbody>
  {{ end }}
  <tr>
    {{ $tableColumnName := index $row (index $csvColDict "Column") }}
    {{ if not (eq $tableColumnName "") }}
      {{ range $colNames }}
        {{ $cellValue := index $row (index $csvColDict .) }}
        {{ $blankClass := cond (eq $cellValue "") "blank" "nonblank" }}
        <td class="{{ . }} {{ $blankClass }}">{{ $cellValue }}</td>
      {{ end }}
    {{ end }}
  </tr>
{{ end }}
  </tbody>
</table>
