@import 'uswds/src/stylesheets/lib/addons/_font-stacks.scss';
@import 'uswds/src/stylesheets/core/_variables.scss';

$cell-padding: 10px;
$body-font-size: 14px;

@media print {
  body {
    counter-reset: page pages;
    font-size: $body-font-size;
    -webkit-print-color-adjust: exact;
  }

  body,
  .cf-app-hearings,
  .cf-content {
    height: auto;
    min-height: auto;
    max-height: auto;
  }

  .cf-hearings-worksheet-header {
    display: none;
  }

  b {
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    font-family: sans-serif;
  }

  h1 {
    font-size: 17px;
  }

  h2 {
    font-size: 15px;
  }

  h3,
  h4,
  h5,
  .cf-hearings-worksheet-data h4,
  .cf-hearings-worksheet-data label,
  .cf-hearings-worksheet-data p,
  .cf-hearings-worksheet-data-cell,
  .cf-print-footer {
    font-size: $body-font-size;
  }

  #cf-hearings-worksheet-summary {
    page-break-inside: avoid;

    p {
      min-height: 0;
      margin: 5px 0;
      padding: 0px;
      font-size: $body-font-size;
      line-height: 1.5rem;
    }
  }

  .cf-hearings-worksheet-data {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    .cf-hearings-worksheet-data-cell {
      flex: 0 0 20%;
      padding-left: 0px;
      padding-right: $cell-padding;
      display: block;
      box-sizing: border-box;
      width: auto;
    }

    .cf-hearings-worksheet-data-cell.double {
      flex: 0 0 40%;
    }

    p {
      min-height: 1rem;
    }
  }

  .cf-hearings-worksheet-form {
    > div:first-child {
      padding-right: $cell-padding;
    }

    .cf-hearings-worksheet-data {
      display: block;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .cf-hearings-worksheet-data,
  .cf-hearings-worksheet-data p,
  .cf-hearings-worksheet-data > .cf-hearings-worksheet-data-cell {
    margin: 5px 0px;
  }

  .cf-hearings-worksheet-data label,
  .cf-hearings-worksheet-data-cell h4,
  .cf-hearings-procedural-history h4 {
    font-weight: 800;
    text-transform: uppercase;
  }

  .cf-hearings-procedural-history {
    border: 1px solid $color-gray;
    padding: 4px 10px;
    margin: $cell-padding 0px;
  }

  .cf-print-footer {
    text-align: right;
    width: 100%;
    position: fixed;
    bottom: 0;

    .cf-print-number {
      counter-reset: pages 0;
      counter-increment: pages;
    }

    .cf-print-number::before {
      counter-increment: page;
      content: 'Page ' counter(page) ' of ' counter(pages);
      margin-left: 5px;
    }
  }

  @page {
    size: 8.5in 11in;
    margin: 0.3in 0.5in;
  }
}
