<% content_for :page_title do task.appeal.task_header end %>
<div id="certifications-generate" class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
  <h1 class="usa-alert-heading cf-red-text cf-msg-screen-heading">EP Establishment Canceled</h1>

  <ul class="cf-list-checklist">
    <li> We’ve recorded your explanation for canceling the creation of this EP. This
      claim has been removed from your queue and must now be processed outside of
      Caseflow Dispatch.</li>
    <li> You may establish another claim or view your Work History.</li>
  </ul>

  <%= render 'finished_toolbar' %>

</div>