<!-- TODO: Remove me when decisions are handled in task creation -->
<% content_for :page_title do task.appeal.task_header end %>

<div class="usa-alert usa-alert-error" role="alert">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Multiple Decisions</h3>
    <p class="usa-alert-text">
      There are multiple decision documents associated with this veteran.
      Please  <%= link_to "cancel this claims establishment", cancel_task_path(task, feedback: "Multiple decisions", method: :patch) %> and create the end product outside of Caseflow.
    </p>
  </div>
</div>
