.route-claim-confirmNote-wrapper {
  label {
    max-width: 100%;
  }

  .cf-required {
    float: none;
  }
}

.cf-email-header {
  aside {
    margin-bottom: 16px;

    p {
      margin: 4px 0;
    }
  }
}

.inline-label {
  display: inline-block;
  width: 18%;
  vertical-align: top;
}

.inline-value {
  display: inline-block;
  width: 55%;
  vertical-align: top;
}

.copy-note-button {
  margin-top: 17px;
  margin-bottom: 35px;
}

.cf-help-content {
  &.cf-dispatch {
    h1:not(:first-child) {
      margin-top: 40px;
    }
  }
}

.cf-bottom-border {
  border-bottom: 1px solid $color-gray-light;
  margin: 40px auto;
}

.cf-gray {
  color: $color-gray;
}

.cf-inline-field {
  &.cf-form-textinput {
    margin-bottom: 0;
  }

  &[type="number"] {
    width: 60px;
    height: 35px;
  }
}

.cf-work-assignments {
  td {
    &:first-child {
      > span {
        display: block;
        overflow: auto;
      }
    }

    .cf-form-int-input {
      width: 3.2em;
      margin: 0 auto;
    }
  }

  .cf-align {
    padding: 0 3px;
    vertical-align: middle;
  }

  .cf-empty-cell-header {
    min-width: 90px;
  }
}

.cf-secondary-disabled {
  opacity: .25;
}

.fieldset {
  width: 100%;
}
