<%= content_for :content do %>
  <p style="padding-top:20px">
    <b> Help </b>
  </p>

  <p>
    Please call the Enterprise Service Desk at 855-673-4357 if you experience technical difficulties.
  </p>

  <p>
    If you have any questions or concerns on the status of your request, please contact
    <%= mail_to 'VHABENEFITAPPEALS@va.gov' %>
  </p>
<% end %>
