<%= content_for :membership_request_submitted do %>
  <p>
    Your request for VHA Membership has been successfully submitted.
  </p>
<% end %>

<%= content_for :membership_request_submission do %>
  <p>
    A new VHA Membership Request has been submitted.
  </p>
<% end %>

<%= content_for :updated_membership_request_status do %>
  <p>
    The status of your request for VHA Membership has been updated.
  </p>
<% end %>
