<%= content_for :custom_subject do %>
  <p>
    A new VHA Membership Request has been submitted.
  </p>
<% end %>

<%= content_for :confirmation_subject do %>
  <p>
    A new VHA Membership Request has been submitted.
  </p>
<% end %>
