<!-- 12.5.1 -->
<%= render "intro" %>

<%= content_for :content do %>
  <p>
    We approved your request for Caseflow "VHA pre-docket organization granting access" pages, which also includes access to the VHA pages.

    You now have access to the following groups' pages:
    "VHA pre-docket organization granting access"
    "VHA General"
    "Any other groups"

    You still have pending requests for other Pre-docket offices. You'll get a separate decision email from each Pre-docket office listed below.
    Your pending requests:
    "First Group"
    "Any other groups"
  </p>

  <%= render "help" %>
<% end %>

<%= render "signature" %>
