<!-- 8.3 -->
<%= render "intro" %>

<%= content_for :content do %>
  <p>
    You have received a new request for access to "VHA Pre-docket/Program Office organization". Please log in and navigate to the "VHA pre-docket/program office" team management page in order to review and process this request.
  </p>

  <%= render "help" %>
<% end %>

<%= render "signature" %>
