<%= content_for :custom_subject do %>
  <p>
    The status of your request for VHA Membership has been updated.
  </p>
<% end %>

<%= content_for :confirmation_subject do %>
  <p>
    The status of your request for VHA Membership has been updated.
  </p>
<% end %>
