<%= content_for :custom_subject do %>
  <p>
    Your request for VHA Membership has been successfully submitted.
  </p>
<% end %>

<%= content_for :confirmation_subject do %>
  <p>
    Your request for VHA Membership has been successfully submitted. Yay!
  </p>
<% end %>
