<!-- 10.6 -->
<%= render "intro" %>

<%= content_for :content do %>
  <p>
    We have approved your request for access to VHA pages within Caseflow.

    You now have access the following groups' pages:
    "VHA General"
    "Any other groups"
  </p>

  <%= render "help" %>
<% end %>

<%= render "signature" %>
