<!-- 12.6.3.2.2 -->
<%= render "header" %>

<%= content_for :content do %>
  <p>
    At this time, we have denied your request for access to "VHA pre-docket organization denying access" pages in Caseflow and the VHA pages in general.

    If you are in need of access to VHA pages without "org's" specific pages, please make a new request for VHA access by going to http://www.appeals.cf.ds.va.gov/vha=help and selecting only the VHA checkbox when re-submitting the form.

    You currently have access the following groups' pages in Caseflow, if any:
    "Any other groups"
  </p>
<% end %>

<%= render "help" %>
<%= render "footer" %>
