<!-- 11.5 -->
<%= render "header" %>

<%= content_for :content do %>
  <p>
    At this time, we have denied your request for access to general VHA pages in Caseflow. Your existing group memberships did not change.

    You currently have access to the following groups pages in Caseflow, if any:
    "Any other groups"
  </p>
<% end %>

<%= render "help" %>
<%= render "footer" %>
