<h3>
  Date and Time
</h3>
<p>
<% if @recipient.title == HearingEmailRecipient::RECIPIENT_TITLES[:judge] %>
  <%= VirtualHearings::CalendarTemplateHelper.central_office_display_time_for_virtual_hearing(@virtual_hearing) %>
<% elsif @recipient.title == HearingEmailRecipient::RECIPIENT_TITLES[:representative] %>
  <%= VirtualHearings::CalendarTemplateHelper.representative_display_time_for_virtual_hearing(@virtual_hearing) %>
<% elsif @recipient.title == HearingEmailRecipient::RECIPIENT_TITLES[:appellant] %>
  <%= VirtualHearings::CalendarTemplateHelper.appellant_display_time_for_virtual_hearing(@virtual_hearing) %>
<% end %>
</p>
