<h3>
  Date and Time
</h3>
<p>
<% if @recipient.title == MailRecipient::RECIPIENT_TITLES[:judge] %>
  <%= @virtual_hearing.hearing.time.central_office_time.strftime("%A, %d %B %Y at %I:%M%P %Z") %>
<% else %>
  <%= @virtual_hearing.hearing.time.local_time.strftime("%A, %d %B %Y at %I:%M%P %Z") %>
<% end %>
</p>
