<h3>
  How to Join
</h3>
<p>
  We recommend joining 15 minutes before your hearing start time.
  Click on the link below, or copy and paste the link into the address
  field of your web browser: <%= external_link @link %>
</p>
