<h3>
  Test Your Connection
</h3>
<% if defined?(kind) && kind == :reminder %>
<p>
  Test your audio and video connection by visiting the VA Video Connect test site 
  <strong>with the device you plan to use for your hearing</strong>: <%= external_link @test_link %>
</p>
<% else %>
<p>
  At least 1 week before your hearing day, test your audio and video
  connection by visiting the VA Video Connect test site <strong>with the device
  you plan to use for your hearing</strong>: <%= external_link @test_link %>
</p>
<% end %>
<% if !@virtual_hearing&.uses_generated_hearing_links? %>
<ul>
  <li>
    If you are using an Apple mobile device, such as an iPhone or iPad, you
    will need to download the free VA Video Connect app from the App Store:
    <%= external_link "https://itunes.apple.com/us/app/va-video-connect/id1224250949?mt=8" %>
  </li>
  <li>
    If you are using an Apple computer, such as a Mac, or any Windows or Android device,
    no application download is required. The hearing will launch automatically in your web browser after you click the link.
  </li>
</ul>
<% end %>
<p>
  Want to learn more about Virtual Tele-hearings? Watch this video at <%= external_link "https://www.youtube.com/watch?v=UDI3C_ytJt8" %>.
</p>
