version: 2
jobs:
  build:
    docker:
      # The first image listed is the image that all steps run inside of.
      # This can be modified by steps, or can be built as a separate
      # customized container.
      - image: circleci/ruby:2.2-browsers
        environment:
          - RAILS_ENV: test
          - BUNDLE_PATH: vendor/bundle
          - POSTGRES_HOST: localhost
          - POSTGRES_USER: root
      # This is the circleci provided Postgres container. We can
      # it via environment variables.
      - image: circleci/postgres:10.2
        environment:
          - POSTGRES_USER: root
            POSTGRES_DB: caseflow_certification_test

      # This is the circleci provided Redis container.
      - image: circleci/redis:4.0.8
    steps:
      - checkout

      - run:
          name: Setup prereqs
          command: ci-bin/setup-circleci-prereqs

      - run:
          name: Which bundler?
          command: bundle -v

      - restore_cache:
          key: vendor-bundle-{{ checksum "Gemfile.lock" }}

      - restore_cache:
          key: dot-cache-yarn-{{ checksum "client/yarn.lock" }}

      - run:
          name: bundle install
          command: bundle check || bundle install --without production staging

      - save_cache:
          key: vendor-bundle-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: yarn install
          command: cd client && yarn install --frozen-lockfile

      - save_cache:
          key: dot-cache-yarn-{{ checksum "client/yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - run:
          name: Tests
          command: |
            bundle exec rake
