@import '../../../client/node_modules/uswds/src/stylesheets/lib/addons/font-stacks';
@import '../../../client/node_modules/uswds/src/stylesheets/core/variables';

.route-claim-confirmNote-wrapper {
  .question-label {
    max-width: 100%;
  }

  .cf-required {
    float: none;
  }
}

.cf-multiple-columns {
  .cf-form-checkbox {

    .question-label {
      margin-bottom: 0;
    }
  }
}

.cf-vbms-note {
  position: relative;

  .cf-form-textarea {
    width: 80%;
    margin-left: 100px;
}

  .question-label {
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

  .copy-note-button {
    width: 80%;
    margin-left: 100px;
 }
}

.cf-email-header {
  aside {
    margin-bottom: 16px;

    p {
      margin: 4px 0;
    }
  }
}

.inline-label {
  display: inline-block;
  width: 18%;
  vertical-align: top;
}

.cf-btn-link {
  &.cf-adjacent-buttons {
    margin-right: 30px;
  }
}

.inline-value {
  display: inline-block;
  width: 55%;
  vertical-align: top;
}

.copy-note-button {
  margin-top: 17px;
  margin-bottom: 35px;
}

.cf-help-content {
  &.cf-dispatch {
    h1:not(:first-child) {
      margin-top: 40px;
    }
  }
}

.establish-claim-feedback {
  text-align: center;
  width: 100%;
}

.cf-bottom-border {
  border-bottom: 1px solid $color-gray-light;
  margin: 40px auto;
}

.cf-gray {
  color: $color-gray;
}

.cf-inline-field {
  &.cf-form-textinput {
    margin-bottom: 0;
  }

  &[type="number"] {
    width: 60px;
    height: 35px;
  }
}

.vbms-id {
  color: $color-gray;
}

.cf-work-assignments {
  td {
    &:first-child {
      > span {
        display: block;
        overflow: auto;
      }
    }

    .cf-form-int-input {
      width: 3.2em;
      margin: 0 auto;
    }
  }

  .cf-no-padding {
    padding: 0 3px;
    vertical-align: middle;
  }

  .cf-empty-cell-header {
    min-width: 90px;
  }
}

.cf-secondary-disabled {
  opacity: .25;
}
