<% content_for :page_title do %>&nbsp &gt &nbspWhat&#8217;s New?<% end %>

<div class="cf-app-segment cf-app-segment--alt">
  <h1>What&#8217;s New?</h1>

  <h2><em>May 5, 2016:</em> Updates</h2>

  <ul>
    <li>Changed date format on the Form 8 pdf from YYYY-DD-MM to MM/DD/YYYY.</li>
    <li>Split question 10B into two questions to increase clarity.</li>
    <li>Allow 1000 characters instead of 138 for questions 6A and 7A.</li>
    <li>Treat VBMS document type, "VA Form 21-0958 Notice of Disagreement", as a NOD in Caseflow.</li>
    <li>Add "Wounded Warrior Project" as a VSO in Caseflow.</li>
  </ul>

  <h2><em>March 7, 2016:</em> Welcome to Caseflow Certification!</h2>
  <p>As many of you know, our organization is facing an unprecedented rise in benefit claims appeals with appeals rising
    by more than a third over the last three years. The appeals process is cumbersome for veterans and VA employees
    alike. Our team has turned its attention toward improving the tools you use everyday to process these appeals.</p>

  <p>For the last several months, the Digital Service has been working closely with Decision Review Officers, Veteran
    Service Representatives, and other employees in regional offices all over the country to develop a new tool called
    Caseflow Certification. This tool is a web-based application that integrates with tools you already use, VBMS and
    VACOLS, and allows you to automatically fill out an electronic Form 8 for paperless appeals.</p>

  <p>If we can process appeals faster and more reliably we can better serve our veterans. By focusing on your
    needs, our team has started the task of making this burdensome and manual process automated and simple. We'll continue to
    update the tool with new features and improvements in response to your feedback.</p>

  <p>On behalf of the Digital Service thank you for your continued service to the VA and America's Veterans.</p>

  <p>&mdash; Kavi Harshawat, United States Digital Service at the VA</p>
</div>
