<style>
  #details_header {
    /* position: absolute; */
    display: flex;
    justify-content: flex-start;
    /* background-color: #baf1f1; */
  }
  #clear_details_btn {
    position: absolute;
    right: 12px;
  }

  #details_content .event_detail,
  #details_content_for_react .event_detail {
    margin: 8px;
    font-size: 0.9em;
    white-space: pre-line;
    text-align: left;
  }
</style>

<div id="details_header">
  <h4>Details</h4>
  <button id="clear_details_btn" class="menuBtn" onclick="clearDetailPanes()">Clear</button>
</div>

<div id="details_content">
  <!-- Element for non-React Javascript to modify. -->
</div>
<div id="details_content_for_react">
  <!-- Only React components should add/remove children to this element.
       Modification (i.e., removing children elements) outside of React cause warning messages.
       DOM manipulation outside of React causes React to complain.
       Changing CSS styles for these elements should be fine, e.g., `display = none`.
    -->
</div>

<script type="text/javascript">
  function showDetailsPane(){
    const chkbox = document.getElementById("details_pane_chkbox");
    if(!chkbox.checked){
      chkbox.checked = true;
      chkbox.onclick();
    }
  }

  const detailPaneIds = ["details_content", "details_content_for_react"]
  function clearDetailPanes(){
    detailPaneIds.forEach(paneId=>{
      const pane = document.getElementById(paneId);
      if(pane){
        Array.prototype.forEach.call(pane.children, child=>child.innerText = "");
      }
    })
  }

  // const sidePanelSectionBtns = document.querySelectorAll('#side_panel_checkbox_row input')
  // sidePanelSectionBtns.forEach((btn) => btn.disabled = true);
</script>