<h4>Details</h4>
<div id="details_message">
  <!-- Arbitrary message -->
</div>
<div id="details_content">
  <!-- Element for non-React Javascript to modify. -->
</div>
<div id="details_content_for_react">
  <!-- Only React components should add/remove children to this element.
       Modification (i.e., removing children elements) outside of React cause warning messages.
       Changing CSS styles for these elements should be fine, e.g., `display = none`.
    -->
</div>

