<% content_for :head do %>
  <style>
    #timelineColors td {
      padding: 5px;
    }
  </style>
<% end %>

<h4>Legend</h4>
<table id="timelineColors" style="margin: 0px; font-size: 0.7em;">
  <tr><td>
    <table>
      <tr><td><b>Task colors</b></td></tr>
      <tr><td class="assigned_task">Assigned task</td></tr>
      <tr><td class="onhold_task">On-hold task</td></tr>
      <tr><td class="inprogress_task">In-progress task</td></tr>
      <tr><td class="completed_task">Completed task</td></tr>
      <tr><td class="cancelled_task">Cancelled task</td></tr>
    </table>
  </td><td>
  </td><td>
    <table>
      <tr><td><b>Timeline background colors</b></td></tr>
      <tr><td class="distribution_phase">Pre-distribution phase</td></tr>
      <tr><td class="decision_phase">Decision phase</td></tr>
      <tr><td class="dispatch_phase">Dispatch phase</td></tr>
    </table>
  </td></tr>
</table>
