<h3>Appeal Narrative (<span class="show_pii_true">showing PII</span>)</h3>

<details open>
  <summary id="narrative_table" style="color: purple">Narrative table</summary>
  <div style="margin-left: 1em;">
    <%= react_component("Explain", props: {
      eventData: event_table_data
    }) %>
  </div>
</details>
