.cf-intake-step .cf-required {
  float: none;
  padding-left: 0.5em;
}

// the .cf-app-intake ancestor is needed for these rules to ensure a higher
// specificity than the stock .cf component classes.
.cf-app-intake {
  .cf-success-checklist, .cf-ineligible-checklist {
    max-width: 800px;
    margin: 50px auto 65px;
  }

  .cf-ineligible-checklist {
    list-style-type: none;

    li {
      background: url(#{$image-url}/icons/asterisk.svg) no-repeat left top transparent;
      background-size: 22px 22px;
      background-position-y: 4px;
      padding-left: 38px;
      padding-top: 3px;
    }
  }
  .cf-msg-screen-deck {
    text-align: left;

    strong {
      color: $color-black;
    }
  }
  .not-eligible {
    color: $color-red;
  }
}

.cf-intake-substeps {
  padding-left: 1em;
}

.cf-manage-intakes-header {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
}

.cf-selected-issues {
  > span { font-weight: bold; }
  display: block;
  padding: 0.5em;
}

.cf-table-selections {
  border: 1px solid $color-gray-lighter;
  max-width: 500px;
  min-width: 500px;
}

.cf-intake-ratings {
  padding-bottom: 1em;

  label {
    max-width: 100%;
  }
}

[id=button-begin-next-intake] {
  margin-top: 10px;
}

.cf-nonrating-request-issue {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto 120px;
  padding-bottom: 1em;

  div {
    margin: 0;
  }

  label {
    margin-bottom: 8px;
  }
}

.intake-add-issues .cf-modal-body {
  color: $color-gray-dark;
  width: 750px;
  max-height: 95%;

  h1 {
    text-align: center;
    border-bottom: 1px solid $color-gray-lighter;
  }

  h2 {
    margin-bottom: 10px;
  }

  .cf-form-radio-options {
    margin-top: 0;
    margin-bottom: 14px;
  }

  .cf-form-radio {
    legend {
      margin-bottom: 14px;
    }
  }

  @media only screen and (max-width: 760px) {
    width: 650px;

    .usa-button {
      font-size: 1.5rem;
      padding: .8rem 1.2rem;
    }
  }

  @media only screen and (max-width: 650px) {
    width: 95%;

    .usa-button {
      font-size: 1.5rem;
      padding: .8rem 1.2rem;
    }

    .no-matching-issues {
      margin-top: 1em;
    }
  }
}

.intake-cancel .cf-modal-body {
  color: $color-gray-dark;
}

.add-issue {
  margin-left: 1em;
}

.add-nonrating-request-issue {
  max-width: 350px;

  .decision-date {
    margin-top: 20px;
    width: 8em;
  }
}

.intake-modal {
  text-align: left;
}

.cf-intake-edit {
  th {
    padding: 0;
  }

  td {
    vertical-align: top;

    .issues {
      display: table;
      width: 100%;

      .issue {
        display: table-row;
        border-bottom: 1px solid $color-gray-lighter;

        div {
          display: table-cell;
          padding: 0.5em 0;
        }

        .issue-desc {
          width: 100%;

          .issue-num {
            padding-right: 0.25em;
          }

          .issue-notes {
            display: block;
            font-style: italic;
          }

          .issue-date {
            display: block;
          }
        }

        .issue-action {
          padding: 0;

          button {
            i {
              padding-right: 0.25em;
            }
          }
        }
      }
    }
  }

  td:first-child {
    font-weight: $font-bold;
  }

  td:last-child {
    min-width: 130px;
    max-width: 500px;
  }

  ol {
    margin: 0;
    padding-left: 1em;
  }

  p {
    margin: .5rem 0;
  }
}
