.cf-intake-step .cf-required {
  float: none;
  padding-left: 0.5em;
}

.cf-intake-substeps {
  padding-left: 1em;
}

.cf-manage-intakes-header {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
}

.cf-selected-issues {
  > span { font-weight: bold; }
  display: block;
  padding: 0.5em;
}

.cf-table-selections {
  border: 1px solid $color-gray-lighter;
  max-width: 500px;
  min-width: 500px;
}

.cf-intake-ratings {
  padding-bottom: 1em;

  label {
    max-width: 100%;
  }
}

[id=button-begin-next-intake] {
  margin-top: 10px;
}

.cf-non-rated-issue {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto 120px;
  padding-bottom: 1em;

  div {
    margin: 0;
  }

  label {
    margin-bottom: 8px;
  }
}

.intake-add-issues .cf-modal-body {
  width: 770px;
}

.add-issue {
  margin-left: 1em;
}

.add-non-rated-issue {
  max-width: 350px;

  .decision-date {
    width: 8em;
  }
}

.cf-intake-edit {
  th {
    padding: 0;
  }

  td {
    vertical-align: top;

    .issues {
      display: table;
      width: 100%;

      .issue {
        display: table-row;
        border-bottom: 1px solid $color-gray-lighter;

        div {
          display: table-column;
          float: left;
          padding: 0.5em 0;
        }

        .issue-desc {
          max-width: 70%;

          .issue-num {
            padding-right: 0.25em;
          }

          .issue-notes {
            display: block;
            font-style: italic;
          }
        }

        .issue-action {
          padding: 0;
          float: right;

          button {
            i {
              padding-right: 0.25em;
            }
          }
        }
      }
    }
  }

  td:first-child {
    font-weight: $font-bold;
  }

  td:last-child {
    min-width: 130px;
  }

  ol {
    margin: 0;
    padding-left: 1em;
  }

  p {
    margin: .5rem;
  }
}
