.cf-job-error {
  max-width: 200px;
  max-height: 40px;
  overflow: auto;
  display: inline-block;
}

.cf-model-jobs-link {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid $color-gray-light;
}
