.cf-model-jobs-link {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid $color-gray-light;
}

.cf-job-details {
  th {
    font-weight: bold;
  }
}

.cf-asyncable-jobs-table {
  font-size: 90%;
}
