.cf-model-jobs-link {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid $color-gray-light;
}

.cf-job-details {
  th {
    font-weight: bold;
  }
}

.cf-asyncable-jobs-table {
  font-size: 90%;

  .job-tabs-header {
    display: flex;

    span {
      width: 100%;
    }

    button {
      background: none;
      display: block;
      color: #000000;
      padding: 10px 20px;
      text-decoration: none;
      width: 100%;
      text-align: left;
      border-radius: 0;
      font-size: 2.5rem;
      &:hover {
        background-color: $color-blue;
        color: $color-white;
        text-decoration: none;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .no-tab-button {
      border-right: 2px solid #aeb0b5 !important;
    }

    .jobs-tab-button {
      border-left: 2px solid #aeb0b5;
      border-right: 1px solid #aeb0b5;
    }

    .scheduled-jobs-tab-button {
      border-left: 1px solid #aeb0b5;
      border-right: 2px solid #aeb0b5;
    }

    .inactive-tab {
      background-color: $color-gray-lightest;
      color: $color-gray-dark;
      border-top: 2px solid #aeb0b5;
      border-bottom: 2px solid #aeb0b5;
    }

    .active-tab {
      background-color: $color-white;
      color: $color-black;
      border-top: 4px solid #0071BB;
      cursor: default;

      &:hover {
        background-color: $color-white;
        color: #000000;
        text-decoration: none;
      }
    }
  }

  .tab-border {
    border-bottom: 2px solid #aeb0b5;
    border-left: 2px solid #aeb0b5;
    border-right: 2px solid #aeb0b5;
    padding: 0px 24px 24px 24px;
  }
}

.job-notes {
  margin-top: 16px;

  .job-note {
    border-top: 1px solid $color-gray-light;
    padding: 16px 0;

    .job-note-time {
      font-style: italic;
      font-size: 95%;
    }

    .job-note-user {
      margin-left: 1rem;
      font-style: italic;
      font-size: 95%;
    }

    .job-note-note {
      white-space: pre;
    }
  }

  .cf-form-checkboxes,
  .cf-form-checkbox {
    display: inline-block;
    margin-right: 1rem;
  }
}

