.load-test-container {
  display: flex;
  flex-wrap: wrap;
}

.load-test-container-checkbox {
  width: 30%;
  box-sizing: border-box;
  flex-grow: 1;
  margin: 1%;
}

.test-class-sizing {
  font-size: 1.5rem;
}
