$validation-error-color: #cd2026;

.cf-gray-box {
  background-color: $color-gray-lightest;
  border: 1px solid $color-gray-lighter;
  padding: 2rem;
  margin: 2rem -2rem;

  .cf-inline-form {
    line-height: 2em;

    .usa-input-error-message {
      font-weight: 500;
    }

    .cf-date-error {
      input {
        border: 1px solid $color-secondary-dark;
      }
    }
  }
}

.cf-review-details {
  .cf-claimant-name {
    font-weight: bold;
    font-size: 2rem;
    padding-right: 2rem;
    border-right: 1px solid $color-gray-lighter;
  }

  .cf-relationship {
    padding-left: 2rem;
  }

  .cf-intake-date {
    padding-right: 2rem;
  }

  .pad-top {
    padding-top: 4px;
  }

  hr {
    margin: 2rem 0;
  }

  .cf-form-details {
    div {
      margin-bottom: 1rem;
    }
  }

  .row-two {
    margin: 1rem auto 0;
  }
}

.cf-record-request-checkbox {
  label {
    max-width: none;
  }

  .cf-form-checkbox {
    label::before {
      position: relative;
    }
  }
}

.cf-noncomp-search {
  min-width: 500px;
  margin-right: 0;

  .cf-search-ahead {
    .cf-search-input-with-close {
      width: 100%;
      max-width: 55rem;
    }
  }
}

.cf-noncomp-queue-completed-task {
  margin-bottom: 20px;
}

.cf-decisions {
  .cf-decision {
    .cf-decision-details {
      margin: 2rem 0;
    }

    hr {
      margin: 3rem 0;
    }

    .cf-disposition {
      margin-top: 1.7rem;
      max-width: 45rem;

      .cf-optional {
        font-weight: bold;
      }
    }

    textarea:disabled {
      background-color: $color-gray-lighter;
    }
  }
}

.cf-decision-date {
  input {
    width: auto;
  }
}

.cf-cancel-link {
  margin-right: 2rem;
}

.usa-search-small {
  max-width: none;

  label {
    margin-bottom: 1rem;
  }
}

.cf-pagination-pages {
  margin-top: 20px;
  clear: right;
}

.non-comp-queue-table-wrapper {
  position: relative;

  .cf-noncomp-search {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .cf-pagination-pages {
    padding-top: 65px;
  }
}

.less-error-padding {
  margin-top: 0;
  right: 0;
}

.report-page-segment {
  display: flex;
  flex-wrap: wrap;

  a {
    align-self: flex-end;
    cursor: pointer;
    margin-left: auto;
  }

  .report-page-variable-condition {
    width: 100%;
    display: flex;
    align-items: center;

    .report-page-middle-content {
      align-self: center;
      text-align: center;
      width: 20%;
    }

    .report-page-variable-select {
      width: 40%;
      margin-right: 1%;
    }

    .report-page-variable-content {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 40%;

      .issue-type-container {
        width: 100%;
      }
    }

    .report-page-variable-content-wider {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      width: 60%;

      .days-waiting {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-gap: 5%;

        .usa-input-error {
          position: sticky;
        }
      }
    }
  }

  .report-page-condition-and {
    width: 100%;
    text-align: center;
  }
}
