.membership-request-table {
  th {
    border-bottom-color: $color-black;
  }

  .cf-dropdown-trigger {
    color: $color-black;

    &::after {
      content: none;
    }
  }

  .cf-dropdown {
    white-space: nowrap;

    button {
      box-shadow: inset 0 0 0 1px $color-black;
    }

    .table-icon {
      transform: translate(5px, 3px);
    }

  }

  .membership-request-expanded-note-row {
    // animation: slideDown .5s;
    // animation-fill-mode: forwards;
    font-size: 13px;

    td {
      border: none;
    }
  }


  .membership-request-row {
    td {
      border-bottom: none;
    }

    td:nth-child(3) {
      width: 20%;
    }

    td:nth-child(4) {
      width: 5%;
    }
  }
}

.cf-app-segment>div>div:last-child,
.cf-app-segment ul>div:last-child {
  border-bottom: 0;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.search-bar-styling-for-filter {
  padding-left: 80px;
  margin-top: 20px;
  margin-bottom: 15px;
  justify-self: right;
  display: block;
}

.text-styling-for-filter-search-bar {
  padding-left: 80px;
  justify-self: flex-end;
  display: flex;
  margin-bottom: 5px;
}

.no-results-found-styling {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.reenter-valid-username-styling {
  padding-bottom: 60rem;
  text-align: center;
}

.make-content-centered {
  justify-content: end;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 55vw;
  margin-right: 15vw;
}
