.membership-request-table {
  th {
    border-bottom-color: black
  }

  .membership-request-expanded-note {
    // animation: slideDown .5s;
    // animation-fill-mode: forwards;
    td {
      border: none
    }
  }


  .membership-request-row {
    td {
      border-bottom: none
    }
    td:nth-child(3) {
      width: 20%;
    }

    td:nth-child(4) {
      width: 5%
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
