$asset-path: '/' !default;
$image-url: '#{$asset-path}assets/' !default;


//USWDS
@import '~uswds/src/stylesheets/uswds.scss';
@import '~uswds/dist/scss/lib/_bourbon.scss';
@import '~uswds/src/stylesheets/core/_variables.scss';

@import '_variables.scss';
@import '_tabs.scss';
@import '_stats.scss';
@import '_intake.scss';
@import 'react/_react_styles_root.scss';
@import 'dispatch/_dispatch.scss';
@import 'reader/_reader_styles_root.scss';
@import 'hearings/_hearings_styles_root.scss';
@import '_style_guide.scss';
@import '_main.scss';
@import '_commons.scss';

// Needed to import files
$font-path:  '~uswds/src/fonts';
$image-path:  '~uswds/src/img';