<div class="cf-app-segment cf-app-segment--alt">
  <h1>Claims for Manager Review</h1>
  <p>This list shows claims that did not result in an End Product (EP) because the user canceled midway through processing, or did not finish establishing the claim after receiving an alert message. After an EP is successfully established, you can refresh the page to update this list.</p>
</div>


<Button linkStyling onClick={this.props.toggleCancelModal}>View stats</Button>;
<Button legacyStyling={false} onClick={this.handleSubmitCancel}>Begin intake</Button>;
<Table columns={columns} rowObjects={rowObjects} rowClassNames={rowClassNames} summary={summary}
  slowReRendersAreOk />
