# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV["DB_CONN_POOL_MAX_SIZE"] || 5 %>
  timeout: 5000
  variables:
    statement_timeout: 30_000 # 30 seconds

development:
  <<: *default
  host: <%= ENV['POSTGRES_HOST'] %>
  username: <%= ENV['POSTGRES_USER'] || `whoami` %>
  # If we set the value to nil when the variable isn't present,
  # the k8s Jenkins environment won't connect
  <% if ENV['POSTGRES_PASSWORD'] %>
  password: <%= ENV['POSTGRES_PASSWORD'] %>
  <% end %>
  database: caseflow_certification_development

demo:
  <<: *default
  database: caseflow_certification_demo

staging:
  <<: *default
  database: caseflow_certification_staging


production:
  <<: *default
  url: <%= ENV["POSTGRES_URL"] %>

# For connecting to the VACOLS Databases
development_vacols:
  adapter: sqlite3
  pool: 5
  timeout: 5000
  database: db/development-vacols.sqlite3

demo_vacols:
  adapter: sqlite3
  pool: 5
  timeout: 5000
  database: db/demo-vacols.sqlite3

staging_vacols:
  adapter: oracle_enhanced
  username: <%= ENV["VACOLS_USERNAME"] %>
  password: <%= ENV["VACOLS_PASSWORD"] %>
  host: vacols.dev.vaco.va.gov
  port: 1526
  database: BVAP.VACO.VA.GOV

production_vacols:
  adapter: oracle_enhanced
  username: <%= ENV["VACOLS_USERNAME"] %>
  password: <%= ENV["VACOLS_PASSWORD"] %>
  host: <%= ENV["VACOLS_HOST"] %>
  port: <%= ENV["VACOLS_PORT"] %>
  database: <%= ENV["VACOLS_DATABASE"] %>
  pool: <%= ENV["DB_CONN_POOL_MAX_SIZE"] || 5 %>

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test:
  <<: *default
  host: <%= `whoami` %>
  database: caseflow_certification_test<%= ENV['TEST_SUBCATEGORY'] %>

test_vacols:
  adapter: sqlite3
  pool: 5
  timeout: 5000
  database: db/development-vacols.sqlite3
