<% content_for :page_title do %>Certification<% end %>

<div class="usa-alert usa-alert-info cf-app-segment" role="alert">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Appeal has already been Certified</h3>
    <p class="usa-alert-text">This case has already been certified to the Board.</p>
  </div>
</div>

<div class="cf-app-segment cf-app-segment--alt">
  <h2>Appeal has already been Certified</h2>

  <p>
    This case has already been certified to the Board. If this Case is a remand
    being re-certified to the board, Caseflow is not currently able to
    process remand cases.
  </p>
  <% if current_user.css_id == ENV['TEST_USER_ID'] && params[:id] == ENV["TEST_APPEAL_ID"] %>
      <%= link_to "Uncertify Appeal", uncertify_certification_path(params[:id]), method: :post %>
  <% end %>
</div>

<%#= render partial: 'cancel_cert_modal' %>
