<% content_for :page_title do %>Not Certified<% end %>

<% content_for :content do %>
    <div id="certifications-error" class="cf-txt-c cf-app-segment cf-app-segment--alt">
      <h1 class="cf-error cf-msg-screen-heading">Case not certified</h1>
      <h2 class="cf-msg-screen-deck">The certification date was not set and any changes made in Caseflow were not saved.</h2>
      <p class="cf-msg-screen-text">You can close this page and open another case in VACOLS.</p>
    </div>
<% end %>