<% content_for :page_title do %>Case Certified<% end %>

<div id="certifications-generate" class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
  <h1 class="cf-success cf-msg-screen-heading">Congratulations!</h1>
  <h2 class="cf-msg-screen-deck">The case has been certified.</h2>

  <ul class="cf-list-checklist">
      <li><span class="cf-icon-success--bg"></span> Verified documents were in eFolder</li>
      <li><span class="cf-icon-success--bg cf-success"></span> Completed and uploaded Form 8</li>
  </ul>

  <p class="cf-msg-screen-text">Way to go! You can now close this browser window and open another case in VACOLS.</p>

</div>
