<% content_for :page_title do certification_header("Appeal Not Ready") end %>

<div class="cf-txt-c cf-app-segment cf-app-segment--alt">
  <h1 class="cf-msg-screen-heading">Appeal is not ready for certification.</h1>
  <h2 class="cf-msg-screen-deck">Looks like this appeal is not ready for certification. Please check VACOLS.</h2>
</div>
