<% content_for :page_title do %>Preview Electronic Form 8<% end %>

<div class="cf-app-segment cf-app-segment--alt">
  <h2>Review Form 8</h2>
  <p>
    Review the completed Form 8. If the form looks correct, click <strong>Upload and certify</strong> and the form will automatically be uploaded into VBMS.
  </p>
</div>

<!-- This link is here for 508 compliance, and shouldn't be visible to sighted users. We need to allow non-sighted users to preview the Form 8. Adobe Acrobat is the accessibility standard and is used across gov't, so we'll recommend it for now. The usa-sr-only class will place an element off screen without
affecting its placement in tab order, thus making it invisible onscreen
but read out by screen readers. -->

<a class="usa-sr-only" id="sr-download-link" href="<%= pdf_certification_path(id: form8.id, time: Time.now.to_i) %>" download target="_blank">"The PDF viewer in your browser may not be accessible. Click to download the Form 8 PDF so you can preview it in a reader with accessibility features such as Adobe Acrobat.</a>
<a class="usa-sr-only" href="#certification-buttons"> If you are using a screen reader and have downloaded and verified the Form 8 PDF, click this link to skip past the browser PDF viewer to the certification buttons.</a>

<iframe aria-label="The PDF embedded here is not accessible. Please use the above link to download the PDF and view it in a PDF reader. Then use the buttons below to go back and make edits or upload and certify the document."class="cf-doc-embed cf-app-segment" title="Form8 PDF"
  src="<%= pdfjs.full_path(file: pdf_certification_path(id: form8.id, time: Time.now.to_i)) %>"></iframe>

<div class="cf-form cf-app-segment" id="certification-buttons">
  <%= loading_indicator %>

  <button type="button" class="usa-button-gray cf-action-back cf-push-left" onclick="window.history.back()">
    &laquo; Go back and make edits
  </button>

  <%= link_to "Upload and certify",
    confirm_certification_path(id: form8.id),
    method: :post,
    class: "usa-button usa-button-blue cf-push-right cf-submit" %>
</div>
