<% content_for :page_title do %>&nbsp &gt &nbspNot Certified<% end %>

<div id="certifications-error" class="cf-txt-c cf-app-segment cf-app-segment--alt">
  <h1 class="cf-error cf-msg-screen-heading">Certification cancelled</h1>
  <h2 class="cf-msg-screen-deck">The certification has been cancelled and changes you made after opening it in Caseflow were not saved. Your feedback has been recorded, and will help the Caseflow team prioritize future improvements.</h2>
  <p class="cf-msg-screen-text">You can now close this window and open another appeal in VACOLS.</p>
</div>
