<% content_for :page_title do %>&nbsp &gt &nbspError 404<% end %>

<div class="cf-txt-c cf-app-segment cf-app-segment--alt">
  <h1 class="cf-msg-screen-heading">Page not found</h1>
  <h2 class="cf-msg-screen-deck">Oops! We can't find the correct page. Please close this window and relaunch Caseflow from VACOLS.</h2>
  <p class="cf-msg-screen-text">If you continue to see this page, please contact the help desk.</p>
</div>
