<div class="cf-txt-c cf-app-segment cf-app-segment--alt">
  <h1 class="cf-error cf-msg-screen-heading">Something went wrong.</h1>
  <h2 class="cf-msg-screen-deck">If you continue to see this page, please contact the help desk.</h2>
</div>