<h1>SplitAppeal#split</h1>
<p>Find me in app/views/split_appeal/split.html.erb</p>
<p></p>
<p>Find me in app/views/split_appeal_controller/split.html.erb  Complete</p>
<p>update routes/rb</p>
<p>post /appeals/:appeal_id/split => split_appeal#split</p>
<p>update reduc in frontend to make call</p>
<p>create controller</p>
<p>Note: AppealsController has useful helper methods</p>
<p>Get appeal ID from path params</p>
<p>Get Two arrays of issues to split: original/new</p>
<p>Reason: Get Reason for new appeals stream:</p>
<p>User helper method to get user<p>

<button id="SplitAppealButton" class="float-left submit-button" >Confirm Split</button>

<p>This button is coming from split.html.erb<p>
<script type="text/javascript">
    document.getElementById(SplitAppealButton).onclick = function () {
  "OriginalAppeal": "1",
  "SplitAppeal": 2,
  "Comment": "SomeString",
};
</script>
