
// use entire screen width
main.container {
    max-width: unset;
    margin: 0 auto;
}

html {
  // font-size: 15px;
  line-height: 1.4;
}

code {
    background-color: #eeeeee;
    font-size: smaller;
}

@import "heading_permalink";
@import "menu";

.mermaid svg {
  // without this, there's extra top and bottom space for large diagrams
  height: fit-content;
}

// freq-taskcreation has long "words"
li {
  word-wrap:break-word;
}

@import "schema_tables";
@import "freq_parentchild_tables";
