.helpText {
  margin-top: -0.65em;
  margin-bottom: 0.65em;
  margin-left: calc(1.4rem + 0.75em + 3px);
  color: #5b616b;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5em;
}
