
.usa-alert {

  &.fixed {
    position: fixed;
    top: 0;
    margin-top: 0;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &.usa-alert-warning {
    &.dev-env-alert {
      background-color: $color-green-lightest;
      border: 5px solid $color-green-lighter;
      background-image: url(/images/warning-429d7a1540c2e7d036805bb73a0ba690.png);
      &::before {
        background-color: $color-green-lightest;
      }
    }
    &.prodtest-env-alert {
      background-color: $color-gold-lightest;
      border: 5px solid $color-gold-lighter;
      background-image: url(/images/warning-429d7a1540c2e7d036805bb73a0ba690.png);
      &::before {
        background-color: $color-gold-lightest;
      }
    }
    &.preprod-env-alert {
      background-color: $color-secondary-lightest;
      border: 5px solid $color-secondary-light;
      background-image: url(/images/warning-429d7a1540c2e7d036805bb73a0ba690.png);
      &::before {
        background-color: $color-secondary-lightest;
      }
    }
    &.uat-env-alert {
      background-color: $color-primary-alt-lightest;
      border: 5px solid $color-primary-alt-light;
      background-image: url(/images/warning-429d7a1540c2e7d036805bb73a0ba690.png);
      &::before {
        background-color: $color-primary-alt-lightest;
      }
    }
    &.demo-env-alert {
      background-color: $color-gray-cool-light;
      border: 5px solid $color-primary-darkest;
      background-image: url(/images/warning-429d7a1540c2e7d036805bb73a0ba690.png);
      &::before {
        background-color: $color-gray-cool-light;
      }
    }
  }

  // Remove after USWDS V.2.0
  &.usa-alert-slim {
    background-size: 4rem;


    .usa-alert-body {
      padding-left: 3.5rem;
    }

    .usa-alert-text {
      font-size: 2rem;
    }
  }

  .usa-alert-text {
    line-height: 1.5;
  }
}
