.cf-loading-message {
  .loading-message-text {
    display: inline-block;
    font-style: italic;
    font-weight: bolder;
  }

  .loading-message-spinner {
    width: 18px;
    display: inline-block;
    margin: 3px;
  }

}