.cf-cavc-dashboard {
  .cf-tab-navigation {
    display: flex;
    flex-wrap: wrap-reverse;

    button {
      flex: 0 0 250px;
      margin-bottom: -1px;
    }

  }

  .cf-tab {
    width: 250px;
    border-bottom: 1px solid $color-gray-light;

    div {
      width: 100%;
    }

    &.cf-active {
      border-bottom: 1px solid $color-primary;
      // needed for active tab's border to be on top of all other surrounding borders
      position: relative;
      z-index: 1;
    }
  }

  .cf-active + .cf-tab {
    border-left: 1px solid $color-gray-light;
  }

  .cf-form-textinput {
    font-weight: normal;
  }
}
