.cf-pdf-preview-header {
  opacity: 1;
  padding: 15px 23px 15px 15px;
  // .cf-pdf-scroll-view is 5, .cf-search-bar is 6
  // z-index: 7;

  .category-icons-and-doc-type {
    display: flex;
    justify-content: center;
  }
}

.cf-pdf-preview-container {
  width: 100%;
  max-width: 1800px;
  text-align: center;
  margin: 3rem auto;
}

// scss-lint:disable PropertySpelling
.cf-pdf-preview-scrollview {
  container-name: pdf-preview-scrollview-container;
  container-type: size;
  background-color: $color-gray;
  width: 100%;
  height: 750px;
  text-align: center;
  z-index: 5;
  overflow-y: scroll;
}

.cf-pdf-preview-doc-type-button-container {
  flex: 0 1 auto;
  min-width: 80px;
  width: 100%;
}

// scss-lint:disable PropertySpelling
.cf-pdf-preview-grid {
  width: fit-content;
  height: 100%;
  display: grid;
  place-items: center;
  margin: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

// scss-lint:disable PropertySpelling
// scss-lint:disable IdSelector
#pdf-preview-footer-input-field {
  height: 100%;
  display: inline-block;
  width: 50%;

  div {
    height: 100%;
    display: inline-block;

    .page-progress-indicator-input {
      .input-container {
        width: 50%;
        margin: auto;
        place-items: center;

        input {
          color: $color-white;
          height: 3rem;
          margin-top: 1rem;
          text-align: center;
          background-color: $color-gray;
          border: 2px $color-white solid;
        }
      }

      label {
        margin-right: 10px;
      }
    }
  }
}

// scss-lint:disable PropertySpelling
@container pdf-preview-scrollview-container (min-width: 1300px) {
  .cf-pdf-preview-grid {
    width: fit-content;
    height: 100%;
    display: grid;
    place-items: center;
    margin: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
  }
}

//Intake Form Styling
.corr {
  color: $color-black;
  padding: 3rem 4rem;

  p {
    color: $color-black;
  }

  h1 {
    text-align: left;
    margin-bottom: 20px;
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  button {
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    padding-right: 0;
  }

  .corr-icon {
    position: absolute;
  }

  .corr-sectionlink {
    margin-left: 20px;
    margin-right: 10px;
  }

  .corr-flex {
    display: flex;
  }

  .corr-autoleft {
    margin-left: auto;
  }

  // Alternate Borderless (no bottom border)
  .corr-table-borderless {
    background-color: $caseflow-background;

    width: 100%;
    margin-bottom: 0;
    margin-top: 0;

    th,
    td {
      border: 0;
      background-color: $caseflow-background;
      padding-top: 2rem;
      padding-bottom: 0;
    }

    td {
      margin: 2px;
      padding-top: 0;
      padding-bottom: 25px;
      }
  }
}

.correspondence-doctype-edit-dropdown .cf-select .cf-select__control {
  max-width: 43rem;
}

.cmp-document-border {
  border: 1px solid #dee2e6
}
.cmp-document-pagination-style {
  margin-top: 2%;
  margin-left: 1.5%;
}

.correspondence-document-table-data-filled {
  background: #0071bc;
  color: white;
}

.correspondence-document-table-data-empty {
  background: white;
  color: #0071bc;
}

.correspondence-intake-appeal-button {
  margin-right: 2rem !important
}

.main-div-review-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 3%;

  @media (max-width: 600px) {
    flex-direction: column;
  }

}

.divide-styling-review-form {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 12%;

  @media (max-width: 600px) {
    width: 100%
  }
}

.divide-textarea-styling-review-form {
  display: flex;
  width: 50%;
  flex-direction: column;

  @media (max-width: 600px) {
    width: '100%'
  }
}

.veternal-file-styling-review-form {
  width: 40%;
  @media (max-width: 1081px) {
    width: 100%;
  }
}

.error-veternal-file-styling-review-form {
  width: 48%;
  margin-top: -6.4rem;
  @media (max-width: 1599px) {
    width: 58%;
  }
}

.veternal-name-styling-review-form {
  width: 60%;
  @media (max-width: 1081px) {
    width: 100%;
  }
}

.input-styling-review-form {
  display: flex;
  gap: 5%;
  @media (max-width: 1081px) {
    flex-direction: column;
  }
}

.tag-styling-review-form {
  & .cf-select__control {
    max-width: 63rem !important;
  }
}

#textarea-styling-review-form {
  width: 50rem !important;
  height: 15rem;
  resize: none;
}

.review-form-title-style {
  display: flex;
  gap: 20px;
  margin-top: 20px
.correspondence-case-title-header-containing-div-styling{
  display: block;
  // Offsets the padding from .cf-app-segment--alt to make the bottom border full width.
  margin: -2rem -4rem 0 -4rem;
  padding: 0 0 1.5rem 4rem;

  & > * {
    display: inline-block;
    margin: 0;
  }
}

.correspondence-review-package-case-title-header-styling{
  padding-right: 2.5rem;
}

.correspondence-review-package-case-title-remove-button{
  float: right !important;
  margin-right: 2rem !important;
}

.correspondence-review-package-case-title-button-styling{
  margin-right: 2rem !important;
  padding: 15px;
  font-size: larger;
}

.correspondence-list-styling{
  list-style-type: none;
  vertical-align: super;
  padding: 0 0 4rem 0;
  display: flex;
  flex-wrap: wrap;
}

.correspondence-column-styling{
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.correspondence-drop-down-div{
  margin-top: -10px;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 25%;
}
