.cf-pdf-preview-header {
  opacity: 1;
  padding: 15px 23px 15px 15px;
  // .cf-pdf-scroll-view is 5, .cf-search-bar is 6
  // z-index: 7;

  .category-icons-and-doc-type {
    display: flex;
    justify-content: center;
  }
}

.cf-pdf-preview-container {
  width: 100%;
  max-width: 1800px;
  text-align: center;
  margin: 3rem auto;
}

// scss-lint:disable PropertySpelling
.cf-pdf-preview-scrollview {
  container-name: pdf-preview-scrollview-container;
  container-type: size;
  background-color: $color-gray;
  width: 100%;
  height: 750px;
  text-align: center;
  z-index: 5;
  overflow-y: scroll;
}

.cf-pdf-preview-doc-type-button-container {
  flex: 0 1 auto;
  min-width: 80px;
  width: 100%;
}

// scss-lint:disable PropertySpelling
.cf-pdf-preview-grid {
  width: fit-content;
  height: 100%;
  display: grid;
  place-items: center;
  margin: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

// scss-lint:disable PropertySpelling
// scss-lint:disable IdSelector
#pdf-preview-footer-input-field {
  height: 100%;
  display: inline-block;
  width: 50%;

  div {
    height: 100%;
    display: inline-block;

    .page-progress-indicator-input {
      .input-container {
        width: 50%;
        margin: auto;
        place-items: center;

        input {
          color: $color-white;
          height: 3rem;
          margin-top: 1rem;
          text-align: center;
          background-color: $color-gray;
          border: 2px $color-white solid;
        }
      }

      label {
        margin-right: 10px;
      }
    }
  }
}

// scss-lint:disable PropertySpelling
@container pdf-preview-scrollview-container (min-width: 1300px) {
  .cf-pdf-preview-grid {
    width: fit-content;
    height: 100%;
    display: grid;
    place-items: center;
    margin: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
  }
}

//Intake Form Styling
.corr {
  padding: 3rem 4rem;

  h1 {
    text-align: left;
    margin-bottom: 20px;
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  button {
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    padding-right: 0;
  }

  .corr-icon {
    position: absolute;
}

  .corr-sectionlink {
    margin-left: 20px;
    margin-right: 10px;
}

  .corr-flex {
    display: flex;
  }

  .corr-autoleft {
    margin-left: auto;
}

// Alternate Borderless (no bottom border)
  .corr-table-borderless {
    background-color: $caseflow-background;

    width: 100%;
    margin-bottom: 0;
    margin-top: 0;

    th,
    td {
      border: 0;
      background-color: $caseflow-background;
      padding-top: 2rem;
      padding-bottom: 0;
    }

    td {
      margin: 2px;
      padding-top: 0;
      padding-bottom: 25px;
      }
  }
}
.correspondence-doctype-edit-dropdown .cf-select .cf-select__control {
  max-width: 43rem;
}
