
.grayLineStyling {
  width: 5px;
  background: $color-gray-lighter;
  margin: auto;
  position: absolute;
  top: 30px;
  left: 49.5%;
  bottom: 0;
}

.grayLineStyling,
.grayLineTimelineStyling {
  top: 39px;
  left: 9%;
  margin-left: 12px;
}

.grayBvaPendingLineStyling {
  width: 5px;
  background: $color-gray-lighter;
  margin-left: 0;
  position: absolute;
  top: 25px;
  left: 35.5%;
  bottom: 0;
}

.taskContainerStyling {
  border: none;
  vertical-align: top;
  padding: 3px;
  padding-bottom: 3rem;

}

.taskInformationContainerStyling {
  width: 25%;
}

.taskContainerStyling,
.taskInformationTimelineContainerStyling {
  text-align: left;
  width: 50%;
  max-width: 235px;
}

.taskInformationContainerStyling,
.taskTimeTimelineContainerStyling {
  width: 40%;
}

.taskInfoWithIconContainer {
  text-align: center;
  border: none;
  padding: 0;
  position: relative;
  vertical-align: top;
  width: 15px;
}

.taskActionsContainerStyling {
  width: 50%;
}

.taskInfoWithIconContainer,
.taskInfoWithIconTimelineContainer {
  text-align: left;
  margin-left: 5px;
  width: 10%;
  padding-left: 0;
}

.greyDotTimelineStyling {
  padding: 0 0 0 7px;
}

.timelineLeftPaddingStyle {
  padding-left: 0;
}

.greyDotStyling {
  padding-left: 6px;
}
