@import 'uswds/lib/addons/font-stacks';
@import 'uswds/core/variables';

.form9-viewer {
  height: 500px;
}

.error-status {
  color: $color-secondary;
  font-weight: 700;
}

.cf-apppeal-id {

  svg {
    display: inline-block;
    margin-left: .25rem;
    vertical-align: -1px;
	}
}
