$alert-red: #cd2026;

.form9-viewer {
  height: 500px;
}

.error-status {
  color: $alert-red;
  font-weight: 700;
}

.cf-apppeal-id {

  svg {
    display: inline-block;
    margin-left: .25rem;
    vertical-align: -1px;
	}
}
