// TODO(jd): Remove this dispatch-specific overrides and unify the styling
.route-claim-confirmNote-wrapper {
  .question-label {
    max-width: 100%;
  }

  .cf-required {
    float: none;
  }
}

.cf-vbms-note {
  position: relative;

  .cf-form-textarea {
    width: 80%;
    margin-left: 100px;
}

  .question-label {
    font-weight: bold !important;
    position: absolute;
    top: 0;
    left: 0;
}

  .copy-note-button {
    width: 80%;
    margin-left: 100px;
 }
}

.inline-label {
  display: inline-block;
  width: 18%;
  vertical-align: top;
}

.inline-value {
  display: inline-block;
  width: 55%;
  vertical-align: top;
}

//TODO(marian): add to commons
input {
  &[type=number] {
    display: inline;
  }
}

.cf-inline-form {
  label,
  input {
    display: inline;
    margin-right: 10px;
  }

  input {
    &[type=number] {
      width: 60px;
      height: 35px;
    }
  }
}

.cf-btn-link {
  &:hover {
    background: transparent;
  }
}

.copy-note-button {
  margin-top: 17px;
  margin-bottom: 35px;
 }
