// TODO(jd): Remove this dispatch-specific overrides and unify the styling
.required-wrapper {
  .question-label {
    max-width: 100%;
  }

  .cf-required {
    float: none;
  }
}

.cf-vbms-note {
  position: relative;

  .cf-form-textarea {
    width: 80%;
    margin-left: 100px;
}

  .question-label {
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

  .copy-note-button {
    width: 80%;
    margin-left: 100px;
 }
}

.cf-email-header {
  aside {
    margin-bottom: 16px;

    p {
      margin: 4px 0;
    }
  }
}

.inline-label {
  display: inline-block;
  width: 18%;
  vertical-align: top;
}

.cf-btn-link {
  &.cf-adjacent-buttons {
    margin-right: 30px;
  }
}

.inline-value {
  display: inline-block;
  width: 55%;
  vertical-align: top;
}

.copy-note-button {
  margin-top: 17px;
  margin-bottom: 35px;
}

.cf-help-content {
  &.cf-dispatch {
    h1:not(:first-child) {
      margin-top: 40px;
    }
  }
}
