@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'),
       local('SourceSansPro-Regular'),
       asset-url('source-sans-pro.woff2') format('woff2'),
       asset-url('source-sans-pro.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'),
       local('Merriweather-Regular'),
       asset-url('merriweather.woff2') format('woff2'),
       asset-url('merriweather.woff') format('woff');
}
