@import 'uswds/lib/addons/font-stacks';
@import '../../../client/node_modules/uswds/src/stylesheets/core/variables';

// Local
@import 'variables';

.cf-intake-step .cf-required {
  float: none;
  padding-left: 0.5em;
}

.cf-intake-substeps {
  padding-left: 1em;
}

.cf-manage-intakes-header {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
}

.cf-selected-issues {
  > span { font-weight: bold; }
  display: block;
  padding: 0.5em;
}

.cf-table-selections {
  border: 1px solid $color-gray-lighter;
  max-width: 500px;
  min-width: 500px;
}

.cf-intake-ratings label {
  max-width: 100%;
}

[id=button-begin-next-intake] {
  margin-top: 10px;
}
