@import 'uswds/lib/addons/font-stacks';
@import 'uswds/core/variables';

// variables here should eventually find their way into commons
@import 'variables';

.cf-intake-step .cf-required {
  float: none;
  padding-left: 0.5em;
}

.cf-intake-substeps {
  padding-left: 1em;
}

.cf-manage-intakes-header {
  display: grid;
  grid-template-columns: auto auto;
}

.cf-table-selections {
  border: 1px solid $color-gray-lighter;
  max-width: 500px;
  min-width: 500px;
}

.cf-intake-ratings label {
  max-width: 100%;
}

[id=button-begin-next-intake] {
  margin-top: 10px;
}
