// Add scss includes explicitly here.
@import 'caseflow_main';

.cf-logo-image {
  @include retina-image("caseflow-logo", 32px 32px, $asset-pipeline: true)
}

.cf-stats {
  margin-top: 0;

  .cf-tab-navigation {
    margin: 0 0 2em;
  }
}

.cf-stats-section {
  &.-activity,
  &.-certification {
    .bar { fill: $color-primary-alt; }
  }

  &.-timing {
    .bar { fill: $color-green-light; }
  }

  &.-missing {
    .bar { fill: $color-secondary; }
  }
}

// This class will place an element off screen without
// affecting its placement in tab order, thus making it
// invisible onscreen but read out by screen readers.
// Screen reader only content is not generally recommended,
// so only use this to resolve major technical hurdles.
.off-screen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
