// TODO this whole file is maybe replaceable with @media print.
@page {
  size: 8.5in 11in;
  margin: 0;
}

.cf-print-page-break {
  break-after: page;
}

.cf-hearings-worksheet {
  margin-bottom: 0px;
  padding-bottom: 0px;

  .cf-hearings-second-page {
    min-height: 11in;
    display: flex;
    flex-direction: column;

    .cf-hearings-worksheet-form {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .cf-hearings-worksheet-data:last-child {
        margin-bottom: inherit;
      }
    }
  }
}
