@import 'core/variables';
@import "font-awesome-sprockets";
@import "font-awesome";

$caseflow-background: #f9f9f9;

.cf-nav-full-screen {
  padding: 10px 30px;
  
  .usa-grid-full {
    max-width: none;
  }

  .cf-nav-dropdown {
    right: 30px;
  }
}

.cf-pdf-page-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

.cf-pdf-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 380px;
  left: 0;
}

.cf-pdf-scroll-view {
  background-color: $color-gray;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: scroll;
  overflow-x: visible;
  text-align: center;
  padding: 10px 0;
  float: left;
}

.cf-pdf-page {
  margin: 20px 0;
  width: 100%;
}

.pdfViewer .canvasWrapper {
  box-shadow: 0 0 3px #color-gray-warm-dark;
}

.pdfViewer .page {
  margin-bottom: 10px;
  border-image: none;
}

.annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

[aria-hidden=true] {
  display: inline !important;
}

.cf-comment-wrapper {
  float: right;
  width: 380px;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  text-align: left;
  background: $caseflow-background;
  padding: 0 30px;
}

.cf-comment-selected {
  background: $color-primary-alt-light;
}

.cf-pdf-comment-list-item {
  background-color: $color-white;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid $color-gray-lighter;
}

.cf-pdf-header {
  background: $color-gray-dark;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 10;
  opacity: .9;
  color: $color-white;
  padding: 15px 20px;
  font-size: 15px;
}

.cf-pdf-footer {
  background: $color-gray-dark;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 10;
  opacity: .9;
  bottom: 0px;
  color: $color-white;
  padding: 15px 20px;
  font-size: 15px;
}

.cf-crosshair-cursor {
  cursor: crosshair;
}

.cf-pdf-buttons {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

.cf-pdf-button {
  margin: 0 20px;
  color: inherit;
  padding: 0;
  background-color: transparent;
  font-size: inherit;
  &:hover {
    text-decoration: none;
    background-color: transparent;
  }
  &:foucs {
    outline: none;
  }
}

.cf-heading-alt {
  border-bottom: 1px solid $color-gray-lighter;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.cf-pdf-meta-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.cf-full-page-app {
  width: 100%;
}

.pdfViewer.singlePageView .page {
  margin: auto;
}
