@import 'uswds/lib/addons/font-stacks';
@import 'uswds/core/variables';
@import 'font-awesome-sprockets';
@import 'font-awesome';

$caseflow-background: #f9f9f9;
$bookmark-blue: #23abf6;
$bookmark-orange: #f6a623;
$bookmark-white: #ffffff;
$bookmark-white-outline: #5b616b;
$bookmark-pink: #f772e7;
$bookmark-green: #3fcd65;
$bookmark-yellow: #efdf1a;

@mixin focus {
  &:focus {
    box-shadow: $focus-shadow;
    outline: 0;
  }
}

.cf-nav-full-screen {
  padding: 10px 30px;

  .usa-grid-full {
    max-width: none;
  }

  .cf-nav-dropdown {
    right: 30px;
  }
}

.cf-pdf-page-container {
  position: absolute;
  top: 4em;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 400px;
  z-index: 0;
}

.cf-pdf-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 380px;
  left: 0;

  &.hidden-sidebar {
    right: 0;
  }
}

.cf-pdf-scroll-view {
  background-color: $color-gray;
  width: 100%;
  top: 50px;
  bottom: 50px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: visible;
  text-align: center;
  float: left;
  z-index: 5;

  @include focus;
}

.cf-pdf-page {
  margin: 20px 0;
  width: 100%;
}

.annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// TODO: Get rid of the rule in caseflow commons that makes
// this necessary!
// scss-lint:disable QualifyingElement
svg[aria-hidden=true],
.fa[aria-hidden=true] {
  display: inline !important;
}
// scss-lint:enable QualifyingElement

.cf-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  width: 380px;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  text-align: left;
  background: $caseflow-background;
  border-top: 1px solid $color-gray-lighter;

  &.hidden-sidebar {
    visibility: hidden;
  }

  .usa-accordion-content {
    background-color: $caseflow-background;
  }

  .usa-alert {
    margin-top: 15px;
  }
}

.cf-sidebar-header {
  padding-left: 20px;
  height: 50px;
  background-color: $color-gray-warm-light;
  line-height: 50px;
  color: $color-gray-dark;
}

.cf-document-info-wrapper {
  padding: 0 30px;
}

.cf-category-sidebar {
  overflow-y: hidden;
}

.cf-issue-tag-sidebar {
  overflow: visible;

  .Select-menu-outer {
    position: relative;
  }
}

.cf-comment-wrapper {
  $comment-wrapper-vertical-margin: 15px;
  margin-top: $comment-wrapper-vertical-margin;

  .usa-alert {
    margin-top: 0;
    margin-bottom: $comment-wrapper-vertical-margin;
  }
}

.cf-pdf-toolbar {
  background: $color-gray-dark;
  width: 100%;
  height: 50px;
  color: $color-white;
  font-size: 15px;
  max-width: 100%;
}

.cf-pdf-header {
  position: absolute;
  opacity: 1;
  padding: 15px 23px 15px 15px;

  .category-icons-and-doc-type {
    display: flex;
    justify-content: center;
  }

  .cf-pdf-buttons {
    &-left {
      min-height: 1px;
      text-align: left;
    }

    &-right {
      text-align: right;
    }

    &-center {
      text-align: center;
    }
  }
}

.cf-pdf-footer {
  position: absolute;
  opacity: 1;
  bottom: 0;
  padding: 0 20px;

  display: flex;
  align-items: center;

  button {
    display: flex;

    $button-label-spacing: 10px;

    .left-button-label {
      margin-left: $button-label-spacing;
    }

    .right-button-label {
      margin-right: $button-label-spacing;
    }
  }

  // We want the buttons to be 40px from the outer edge of the toolbar.
  // Other margins that are involved add up to 28px, so we add an
  // additional margin to make it 40.
  $left-outer-margin: 12px;
  $right-outer-margin: 20px;
  $footer-button-width: 100px;

  .cf-pdf-footer-buttons-right {
    width: $footer-button-width;
    margin-right: $right-outer-margin;
  }

  .cf-pdf-footer-buttons-left {
    width: $footer-button-width;
    margin-left: $left-outer-margin;
  }

  .cf-pdf-buttons-center {
    $spacing: 25px;
    margin-left: auto;
    margin-right: auto;

    .page-progress-indicator {
      margin-right: $spacing;
    }

    .page-progress-indicator-input {
      > input {
        width: 48px;
        height: 22px;
        display: inline-block;
        color: $color-white;
        background-color: $color-gray;
        border: 1px solid $color-white;
        text-align: center;
        margin: 5px;
        padding: 0;
      }

      > label {
        display: inline-block;
      }

    }

    .doc-list-progress-indicator {
      margin-left: $spacing;

      .filter-icon {
        margin-right: $spacing / 2;
        position: relative;
        top: 1px;
      }
    }
  }
}

.cf-comment-cursor {
  cursor: copy;
}

.cf-pdf-bookmarks {
  transform: scale(1.5, 2);
}

// TODO: Remove !important
.cf-pdf-button {
  margin: 0 8px;
  color: inherit;
  padding: 0;
  background-color: transparent;
  font-size: inherit;
  pointer-events: all;
  line-height: normal;

  &:hover {
    text-decoration: none;
    background-color: transparent;
    color: $color-primary-alt;

    svg g {
      fill: $color-primary-alt;
    }
  }

  svg {
    vertical-align: bottom;
  }
}

.cf-pdf-spaced-buttons {
  margin: 0 25px;
}

.cf-pdf-edit-comment {
  float: right;
  position: relative;
  margin-right: -30px;
  overflow: visible;
}

.cf-pdf-edit-comment-icon {
  color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 3px;
  margin: auto;
  padding: 10px;
  background-color: $color-white;

  &:hover {
    box-shadow: 1px 1px 5px 0 $color-gray;
  }
}

.cf-sidebar-heading {
  border-bottom: 1px solid $color-gray-lighter;
  padding-bottom: 12px;
  margin-top: 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.cf-sidebar-heading-related-issues {
  margin-top: 0;
}

.cf-sidebar-accordion {
  margin-bottom: 0;
  overflow: auto;

  .usa-accordion-content {
    padding: 14px 30px;

    .cf-form-checkboxes {
      margin-top: 6px;
      margin-bottom: 20px;

      .cf-form-checkbox {

        label:last-child {
          margin-bottom: 0;

          .cf-category-selector {
            margin-bottom: 0;
          }
        }
      }
    }

    .cf-document-category-picker {
      li:last-child {
        div {
          margin-bottom: 0;
        }
      }
    }
  }
}

.cf-documents-comments-control {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .cf-show-all-label {
    text-align: right;
  }
}

.cf-add-comment-button {
  margin-top: -15px;
  margin-bottom: 10px;
}

.cf-pdf-meta-title {
  margin: 0;
}

.cf-full-page-app {
  width: 100%;
}

.pdfViewer.singlePageView .page {
  box-shadow: 0 0 5px $color-gray-dark;
  margin: 5px;
  margin-bottom: 25px;
  border-image: none;
  z-index: 5;
  overflow: hidden;
}

.cf-label {
  opacity: .3;
}

.cf-selected-label {
  opacity: 1;
}

.cf-pdf-comment-indicator {
  margin-left: 10px;
  font-size: 12px;
}

.cf-pdf-navigation {
  position: absolute;
  bottom: 50%;
  z-index: 20;
  pointer-events: none;
  left: 15px;
  right: 15px;
}

.cf-pdf-bookmark-decisions {
  color: $bookmark-blue;
}

.cf-pdf-bookmark-veteran-submitted {
  color: $bookmark-orange;
}

.cf-pdf-bookmark-procedural {
  color: $bookmark-white;
  position: relative;
}

// This is to give the white bookmark a gray outline
.cf-pdf-bookmark-procedural::after {
  // This is the unicode for the fa-bookmark-o icon
  content: '\f097';
  color: $bookmark-white-outline;
  position: absolute;
  left: 0;
}

.cf-pdf-bookmark-va-medial {
  color: $bookmark-pink;
}

.cf-pdf-bookmark-layperson {
  color: $bookmark-green;
}

.cf-pdf-bookmark-private-medical {
  color: $bookmark-yellow;
}

.cf-pdf-pdfjs-container {
  display: inline-block;
  position: relative;
}

// Use this class when you want the grid to start at the 1/3 point.
//    <empty> <content .cf-pull-right-one-third> <content>
.cf-pull-right-one-third {
  // This is a one-third width from .usa-width-one-third +
  //   the margin-right from .usa-width-one-third
  margin-left: 34.11921734%;
}

.cf-document-category-icons {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  float: left;

  li {
    float: left;
  }

  .highlighted {
    filter: drop-shadow(0 0 5px $color-primary-alt);
  }

  li:not(:first-child) {
    padding-left: 10px;
  }
}

.cf-pdf-pdfjs-textLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1;
}

.cf-pdf-annotationLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.cf-pdf-cutoff {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cf-pdf-open-menu {
  flex: 0 0 auto;
  margin: 0 17px;
}

.cf-pdf-doc-type-button-container {
  flex: 0 1 auto;
  min-width: 20px;
}

.cf-pdf-doc-category-icons {
  flex: 0 0 auto;
}

.cf-pdf-doc-type-button {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  width: 100%;
  padding-right: 5px;
}

.cf-pdf-placing-comment {
  outline: 10px solid $color-primary-alt;

  // We will manually draw the cursor with the annotation icon.
  * {
    cursor: none !important;
  }
}

.cf-pdf-vertically-center {
  display: flex;
  align-items: center;

  svg {
    display: block;
  }
}

.cf-pdf-external-link-icon {
  margin-left: 8px;
}

[type="button"].cf-pdf-download-icon {
  margin-left: 40px;
  margin-right: 23px;
}

// scss-lint:disable QualifyingElement
input[type="search"].cf-search-input-with-close {
  padding-right: 25px;
}
// scss-lint:enable QualifyingElement

[type="button"].cf-search-close-icon {
  margin-left: -20px;
  margin-top: 2px;
  position: absolute;
}

.cf-pdf-page-hidden {
  visibility: hidden;
}

.cf-pdf-center-text {
  text-align: center;
}

.cf-keyboard-shortcuts {
  bottom: 0;
  position: relative;
  text-align: center;
  margin: 10px 0;

  .cf-btn-link {
    &:hover {
      background-color: $caseflow-background;
    }
  }

  svg {
    vertical-align: bottom;
    margin-right: 12px;
  }
}

[id=cf-keyboard-modal] {
  height: 580px;
  overflow: auto;
  display: block;

  // Candidate for commons
  table {
    margin: 0 0 2em;
  }

  // Candidate for commons - all modals should have dark gray x
  .cf-icon-close {
    path {
      fill: $color-gray-dark;
    }
  }
}

.cf-modal-scroll {
  .cf-keyboard-modal-scroll {
    max-height: 370px;
    overflow: auto;
  }
}

.cf-table-borderless + .cf-keyboard-modal-table thead th {
  width: 23%;
}
