@import 'core/variables';

.cf-pdf-page-container {
  position: absolute;
  top: 90px;
  bottom: 0;
}

.cf-pdf-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70%;
}

.cf-pdf-scroll-view {
  background-color: $color-gray-dark;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  overflow-x: visible;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}

.cf-pdf-page {
  margin: 20px 0;
  width: 100%;
}

.pdfViewer .canvasWrapper {
  box-shadow: 0 0 3px #color-gray-warm-dark;
}

.pdfViewer .page {
  margin-bottom: 10px;
  border-image: none;
}

.annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

[aria-hidden=true] {
  display: inline !important;
}

.cf-comment-wrapper {
  float: right;
  width: 30%;
  height: 100%;
  text-align: left;
  background: $color-white;
}

.cf-comment-selected {
  background: $color-primary-alt-light;
}

.cf-pdf-title {
  background: $color-gray-light;
  width: 100%;

  h2 {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.cf-full-page-app {
  width: 100%;
}

.pdfViewer.singlePageView .page {
  margin: auto;
}
