@import 'core/variables';
@import 'font-awesome-sprockets';
@import 'font-awesome';

$caseflow-background: #f9f9f9;

.cf-nav-full-screen {
  padding: 10px 30px;

  .usa-grid-full {
    max-width: none;
  }

  .cf-nav-dropdown {
    right: 30px;
  }
}

.cf-pdf-page-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

.cf-pdf-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 380px;
  left: 0;
}

.cf-pdf-scroll-view {
  background-color: $color-gray;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: scroll;
  overflow-x: visible;
  text-align: center;
  padding: 30px 0;
  float: left;
}

.cf-pdf-page {
  margin: 20px 0;
  width: 100%;
}

.pdfViewer .canvasWrapper {
  box-shadow: 0 0 3px #color-gray-warm-dark;
}

.pdfViewer .page {
  margin-bottom: 10px;
  border-image: none;
}

.annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// TODO: This is super bad, fix the caseflow commons styling to remove this
svg[aria-hidden=true], .fa[aria-hidden=true] {
  display: inline !important;
}

.cf-sidebar-wrapper {
  float: right;
  width: 380px;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  text-align: left;
  background: $caseflow-background;
}

.cf-document-info-wrapper {
  padding: 0 30px;
}

.cf-comment-wrapper {
  padding: 0 30px;
  position: absolute;
  top: 240px;
  bottom: 0;
  width: 380px;
  overflow-y: scroll;
}

.cf-comment-selected {
  box-shadow: 0 0 10px $color-primary;
}

.cf-pdf-comment-list {
  padding-top: 10px;
}

.cf-pdf-comment-list-item {
  background-color: $color-white;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid $color-gray-lighter;
}

.cf-pdf-toolbar {
  background: $color-gray-dark;
  width: 100%;
  height: 50px;
  color: $color-white;
  font-size: 15px;
}

.cf-pdf-header {
  position: absolute;
  z-index: 10;
  opacity: 1;
  padding: 15px 20px;
}

.cf-pdf-footer {
  position: absolute;
  z-index: 10;
  opacity: 1;
  bottom: 0;
  padding: 0 20px;
  line-height: 50px;
}

.cf-comment-cursor {
  cursor: copy;
}

.cf-pdf-buttons {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

.cf-pdf-bookmarks {
  transform: scale(2, 2.6);
}

// TODO: Remove !important
[type="button"].cf-pdf-button {
  margin: 0 15px !important;
  color: inherit;
  padding: 0;
  background-color: transparent;
  font-size: inherit;

  &:hover {
    text-decoration: none;
    background-color: transparent;
  }

  &:focus {
    box-shadow: none;
  }
}

.cf-pdf-edit-comment {
  float: right;
  position: relative;
  margin-right: -30px;
  overflow: visible;
}

.cf-pdf-edit-comment-icon {
  color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 3px;
  margin: auto;
  padding: 10px;
  background-color: $color-white;
}

.cf-heading-alt {
  border-bottom: 1px solid $color-gray-lighter;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.cf-pdf-meta-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.cf-full-page-app {
  width: 100%;
}

.pdfViewer.singlePageView .page {
  margin: auto;
}

.cf-label {
  opacity: .3;
}

.cf-selected-label {
  opacity: 1;
}