@import 'uswds/lib/addons/font-stacks';
@import 'uswds/core/variables';
@import 'font-awesome-sprockets';
@import 'font-awesome';

$caseflow-background: #f9f9f9;
$bookmark-blue: #23abf6;
$bookmark-orange: #f6a623;
$bookmark-white: #ffffff;
$bookmark-white-outline: #5b616b;
$bookmark-pink: #f772e7;
$bookmark-green: #3fcd65;
$bookmark-yellow: #efdf1a;

.cf-nav-full-screen {
  padding: 10px 30px;

  .usa-grid-full {
    max-width: none;
  }

  .cf-nav-dropdown {
    right: 30px;
  }
}

.cf-pdf-page-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

.cf-pdf-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 380px;
  left: 0;
}

.cf-pdf-scroll-view {
  background-color: $color-gray;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: scroll;
  overflow-x: visible;
  text-align: center;
  padding: 30px 0;
  float: left;
}

.cf-pdf-page {
  margin: 20px 0;
  width: 100%;
}

.pdfViewer .canvasWrapper {
  box-shadow: 0 0 3px #color-gray-warm-dark;
}

.pdfViewer .page {
  margin-bottom: 10px;
  border-image: none;
}

.annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// TODO: Get rid of the rule in caseflow commons that makes
// this necessary!
// scss-lint:disable QualifyingElement
svg[aria-hidden=true],
.fa[aria-hidden=true] {
  display: inline !important;
}
// scss-lint:enable QualifyingElement

.cf-sidebar-wrapper {
  float: right;
  width: 380px;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  text-align: left;
  background: $caseflow-background;
  border-top: 1px solid $color-gray-lighter;
}

.cf-document-info-wrapper {
  padding: 0 30px;
}

.cf-comment-wrapper {
  padding: 0 30px;
  position: absolute;
  top: 225px;
  bottom: 0;
  width: 380px;
  overflow-y: scroll;
}

.cf-comment-selected {
  box-shadow: 0 0 10px $color-primary;
}

.cf-pdf-comment-list {
  padding-top: 10px;
}

.cf-pdf-comment-list-item {
  background-color: $color-white;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid $color-gray-lighter;
}

.cf-pdf-toolbar {
  background: $color-gray-dark;
  width: 100%;
  height: 50px;
  color: $color-white;
  font-size: 15px;
}

.cf-pdf-header {
  position: absolute;
  z-index: 10;
  opacity: 1;
  padding: 15px 20px;
}

.cf-pdf-footer {
  position: absolute;
  z-index: 10;
  opacity: 1;
  bottom: 0;
  padding: 0 20px;
  line-height: 50px;
}

.cf-comment-cursor {
  cursor: copy;
}

.cf-pdf-buttons {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

.cf-pdf-bookmarks {
  transform: scale(1.5, 2);
}

// TODO: Remove !important
[type="button"].cf-pdf-button {
  margin: 0 8px !important;
  color: inherit;
  padding: 0;
  background-color: transparent;
  font-size: inherit;

  &:hover {
    text-decoration: none;
    background-color: transparent;
  }

  &:focus {
    box-shadow: none;
  }
}

[type="button"].cf-pdf-spaced-buttons {
  padding: 0 15px;
}

.cf-pdf-edit-comment {
  float: right;
  position: relative;
  margin-right: -30px;
  overflow: visible;
}

.cf-pdf-edit-comment-icon {
  color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 3px;
  margin: auto;
  padding: 10px;
  background-color: $color-white;

  &:hover {
    box-shadow: 1px 1px 5px 0 $color-gray;
  }
}

.cf-heading-alt {
  border-bottom: 1px solid $color-gray-lighter;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.cf-pdf-meta-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.cf-full-page-app {
  width: 100%;
}

.pdfViewer.singlePageView .page {
  margin: auto;
}

.cf-label {
  opacity: .3;
}

.cf-selected-label {
  opacity: 1;
}

.cf-pdf-comment-indicator {
  margin-left: 10px;
  font-size: 12px;
}

.cf-pdf-navigation {
  position: absolute;
  bottom: 50%;
  z-index: 200;
  width: 100%;
}

.cf-pdf-bookmark-blue {
  color: $bookmark-blue;
}

.cf-pdf-bookmark-orange {
  color: $bookmark-orange;
}

.cf-pdf-bookmark-white {
  color: $bookmark-white;
}

.cf-pdf-bookmark-white-outline {
  color: $bookmark-white-outline;
}

.cf-pdf-bookmark-pink {
  color: $bookmark-pink;
}

.cf-pdf-bookmark-green {
  color: $bookmark-green;
}

.cf-pdf-bookmark-yellow {
  color: $bookmark-yellow;
}
