@import 'core/variables';

.cf-pdf-container {
  width: 70%;
}

.cf-pdf-scroll-view {
  background-color: $color-gray-dark;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  overflow-x: visible;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}

.cf-pdf-page {
  margin: 20px 0;
  width: 100%;
}

.pdfViewer .canvasWrapper {
  box-shadow: 0 0 3px #bbb;
}

.pdfViewer .page {
  margin-bottom: 10px;
}

.annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#content-wrapper {
  position: absolute;
  top: 35px;
  left: 0;
  right: 250px;
  bottom: 0;
  overflow: auto;
}
#comment-wrapper {
  position: absolute;
  top: 35px;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 250px;
  background: #eaeaea;
  border-left: 1px solid #d0d0d0;
}

#comment-wrapper h4 {
  margin: 10px;
}

#comment-wrapper .comment-list {
  font-size: 12px;
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  bottom: 0;
}
.comment-list-item {
  border-bottom: 1px solid #d0d0d0;
  padding: 10px;
}
#comment-wrapper .comment-list-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 47px;
  overflow: auto;
}
#comment-wrapper .comment-list-form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}
#comment-wrapper .comment-list-form input {
  padding: 5px;
  width: 100%;
}
.pdfViewer .page {
  border-image: none;
}

[aria-hidden=true] {
  display: inline !important;
}

#cf-comment-wrapper {
  float: right;
  width: 30%;
  text-align: left;
  background: $color-white;
}

.cf-comment-selected {
  background: cyan;
}

#cf-pdf-title {
  background: $color-gray-light;
  width: 100%;
  margin-top: 20px;
}

#cf-pdf-title h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.cf-full-page-app {
  width: 100%;
}

.pdfViewer.singlePageView .page {
  margin: auto;
}
