@import 'uswds/lib/addons/font-stacks';
@import 'uswds/core/variables';

.cf-sg-layout {
  padding-top: 30px;
}

.cf-sg-content {
  width: 80%;
}

.usa-accordion {
  width: 100%;
}

.usa-accordion-button {
  text-align: left;
}

.cf-code-sample {
  font-family: Consolas, serif;
  color: $color-secondary-darkest;
}

.cf-help-divider {
  border-bottom: 1px solid $color-gray-lighter;
}

.usa-accordion-content {
  font-size: 1.4rem;
}

.cf-modal.active {
  z-index: 3;
}

.cf-tab svg {
  width: 17px;
  height: 17px;
}

.cf-sg-progess-bar {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.cf-sg-progress-bar-section {
  display: table-cell;
  padding-left: 61px;
  padding-right: 61px;
}
