@import 'core/variables';

.cf-sg-layout {
  padding-top: 30px;
}

.cf-sg-content {
  width: 80%;
}

.usa-accordion {
  width: 100%;
}

.usa-accordion-button {
  text-align: left;
}

.cf-code-sample {
  font-family: Consolas, serif;
  color: $color-secondary-darkest;
}

.cf-help-divider {
  color: $color-gray-lighter;
  border-bottom: 1px;
}
