@import 'uswds/lib/addons/font-stacks';
@import 'uswds/core/variables';

.cf-sg-layout {
  padding-top: 30px;
}

.cf-sg-content {
  width: 80%;
}

.usa-accordion {
  width: 100%;
}

.usa-accordion-button {
  text-align: left;
}

.cf-code-sample {
  font-family: Consolas, serif;
  color: $color-secondary-darkest;
}

.cf-help-divider {
  border-bottom: 1px solid $color-gray-lighter;
}

.usa-accordion-content {
  font-size: 1.4rem;
}

.cf-modal.active {
  z-index: 3;
}

//TODO(marian): add to commons
.cf-tab {
  font-weight: 500;
}

i {
  width: 17px;
  height: 17px;
  margin-right: 0.25em;
  margin-left: -0.4em;
}

.cf-active {
  font-weight: 700;
  box-shadow: 0 1px 0 $color-white;
}
