@import 'uswds/lib/addons/font-stacks';
@import 'uswds/core/variables';

$color-tab-text-hover: #1f5593;

.cf-sg-layout {
  padding-top: 30px;
  position: relative;
}

// Style Guide Sticky Menu
div {
  &[class$="-scrolling"] {
    position: fixed;
    top: 0;
    overflow-y: scroll;
    height: 75%;
  }

  &[class$="-not-scrolling"] {
    position: absolute;
    overflow-y: scroll;
  }
}

.cf-sg-nav {
  margin-top: 35px;

  .current-link {
    border-left: 4px solid $color-primary;
    color: $color-primary;
    font-weight: 700;
    padding-left: 1.4em;
  }

  a {
    color: $color-primary;
  }
}

.cf-sg-content {
  padding-left: 190px;
}

.usa-accordion {
  width: 100%;
}

.usa-accordion-button {
  text-align: left;
}

.cf-code-sample {
  font-family: Consolas, serif;
  color: $color-secondary-darkest;
}

.cf-help-divider {
  border-bottom: 1px solid $color-gray-lighter;
}

.usa-accordion-content {
  font-size: 1.4rem;
}

.cf-modal.active {
  z-index: 3;
}

//TODO(marian): add to commons
// Tabs
.cf-tab {
  font-weight: 500;
}

i {
  width: 17px;
  height: 17px;
  margin-right: 0.25em;
  margin-left: -0.4em;
}

.cf-active {
  font-weight: 700;
  box-shadow: 0 1px 0 $color-white;

  span {
    &:hover {
      color: $color-tab-text-hover;
    }
  }
}

//TODO(marian): add to commons
// Progress Bar
.cf-progress-bar-activated {
  font-weight: 700;
  border-bottom: 7px solid $color-gray-dark;
}

.cf-progress-bar-not-activated {
  font-weight: 700;
  border-bottom: 7px solid $color-gray-light;
}

//Inline Code Text
code,
pre {
  background-color: $color-gray-lightest;
  color: $color-base;

  &::before,
  &::after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }
}

.loading-button-example {
  display: inline-block;
  width: 9rem;
  text-align: right;
  margin-right: 2rem;
}

.styleguide-grey-header {
  color: $color-gray;
}

.cf-sg-placeholder {
  margin-top: 20px;
}

.sg-nav-bar {
  .cf-nav {
    padding-top: 26px;
    padding-bottom: 26px;
    border: 1px solid $color-gray-lighter;

    .cf-logo {
      margin-left: 50px;
    }

    .cf-nav-dropdown {
      margin-right: 50px;
    }
  }
}

.cf-sg-subsection {
  margin-bottom: 30px;
}

.cf-sg-success-example {
  margin-left: 125px;
}

.sg-colors-swatches {
  overflow: auto;

  .sg-colors-swatch {
    float: left;
    margin-bottom: 20px;
    margin-right: 25px;

    div {
      width: 110px;
      height: 110px;
      box-shadow: 1px 1px 5px $color-gray-medium;
      margin-top: 10px;
      margin-bottom: 15px;
      position: relative;
      left: 2px;
    }

    b,
    p {
      font-size: 75%;
    }

    p {
      margin: 0;
      padding: 0;

      &:nth-of-type(2) {
        font-size: 55%;
      }
    }
  }
}

.sg-colors-combo {
  border: 1px solid $color-gray;
  padding: .75rem;
  margin-bottom: 10px;
  width: 50%;
}

.cf-sg-section-source {
  overflow: auto;
  margin: 1.5rem auto;

  h2,
  h3 {
    margin-bottom: 0;
  }
}

.cf-sg-tables-section {
  table:last-child {
    margin-bottom: 6rem;
  }
}
