/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import 'vis-timeline/dist/vis-timeline-graph2d.min.css';

body {
  /* Always show scrollbar so page width doesn't change due to showing tall elements */
  overflow-y: scroll;
}

.show_pii_true {
  color: red;
}

#header_table td {
  border: none;
}

li,
li ul {
  margin-bottom: 0px
}

#section_checkboxes label {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

#section_checkboxes label::before {
  /* space between checkbox and label text */
  margin-right: 0.3em;
}

.section_checkbox_row {
  display: flex;
  justify-content: flex-start;
  border: 1px solid darkgray;
}

#side_panel_section_btns {
  display: flex;
  font-size: 0.9em;
}

#menubar_options {
  position: absolute;
  right: 12px;
  display: flex;
  justify-content: flex-start;
  font-size: 0.9em;
  background-color: #baf1f1;
  visibility: hidden; /* made visible when menu is in sticky mode */
}

summary {
  display: list-item;
}

#details_content_for_react .event_detail {
  max-width: 400px;
  margin: 8px;
  font-size: 0.9em;
  white-space: pre-line;
  text-align: left;
  max-height: 600px;
}
