/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import 'vis-timeline/dist/vis-timeline-graph2d.min.css';

.show_pii_true {
  color: red;
}

li,
li ul {
  margin-bottom: 0px
}

summary {
  display: list-item;
}

#events_table {
  margin: 5px;
}

/* Table columns */

#events_table .timestamp {
  column-width: 120px;
}

#events_table .timestamp,
#events_table .category,
#events_table .event_type {
  padding-right: 2px;
  padding-left: 1px;
}

#events_table td.category {
  text-align: right;
}

#events_table .rel_data,
#events_table .narrative {
  max-width: 300px;
  word-wrap: break-word;
}

#events_table td.rel_data {
  margin: 0px;
  font-size: 0.8em;
  white-space: pre-line;
}

#events_table details.jsonDetails summary {
  font-size: 0.8em;
}
#events_table details.jsonDetails pre {
  margin: 0px;
  font-size: 0.7em;
  white-space: pre-line;
}

/* Table rows */

#events_table td {
  padding-top: 0px;
  padding-bottom: 0px;
}

#events_table tr.clock {
  color: rgb(173, 173, 173);
  font-size: 0.7em;
  border-style: none;
}

#events_table tr.milestone {
  border-style: outset;
}

#events_table tr.issue {
  border-style: dotted;
}

#events_table tr.document {
  border-style: dotted;
}

#events_table tr.hearing {
  border-style: dashed;
}

/* Table cells */

#events_table [role="cell"] span.milestone {
  color: blue;
}

#events_table [role="cell"] span.task_assigned {
  color: rgb(134, 132, 1)
}

#events_table [role="cell"] span.task_cancelled  {
  color: rgb(143, 80, 80)
}

#events_table [role="cell"] span.task_completed {
  color: rgb(0, 90, 0)
}

/* Timeline */

#timeline .vis-item {
  border-width: 0px;
  border-color: #585858;
}

#timeline .vis-item .vis-item-overflow {
  overflow: visible; /* allow event labels to overflow its timeline box */
}

/* These task_<status> colors should roughly match with those for #events_table above */
#timeline .task_assigned {
  background-color: rgb(197, 194, 5)
}
#timeline .task_in_progress {
  background-color: #00ff00
}
#timeline .task_on_hold {
  background-color: #ffff80
}
#timeline .task_cancelled {
  background-color: rgb(192, 135, 135)
}
#timeline .task_completed {
  background-color: rgb(0, 184, 0)
}

/* events with "type=background" */
#timeline div.vis-background {
  font-style: italic;
  /* background-color: rgb(238, 238, 238) */
}
#timeline div.DistributionTask {
  background-color: rgb(238, 238, 238)
}
#timeline div.JudgeDecisionReviewTask {
  background-color: rgb(196, 196, 196)
}

#timeline div.RootTask,
#timeline div.TrackVeteranTask {
  font-size: 0.7em;
  background-color: rgb(168, 168, 168)
}
