<% content_for :page_title do %><% end %>

<div class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
  <h1 class="cf-msg-screen-heading">Technical Difficulties</h1>
  <h2 class="cf-msg-screen-deck">It looks like Caseflow is experiencing technical difficulties right now. We apologize for any inconvenience. Please check back in a little bit.</h2>

</div>
