<% content_for :page_title do %>Unauthorized<% end %>

<div class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
  <h1 class="cf-msg-screen-heading">Unauthorized</h1>
  <h2 class="cf-msg-screen-deck">It looks like you do not have permission to access this page.</h2>
  <p class="cf-msg-screen-text">Please talk with your ISO about having the necessary CSS Role added to your account.</p>


  <% if ApplicationController.dependencies_faked? %>
    <p class="cf-msg-screen-text">
      <a href="<%= url_for controller: 'dev_users', action: 'index'%>">
        Switch users to access this page.
      </a>
    </p>
  <% end %>

</div>
