<% content_for :page_title do %>Unauthorized<% end %>

<div class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
  <h1 class="cf-msg-screen-heading">Unauthorized</h1>
  <h2 class="cf-msg-screen-deck">It looks like this appeal is not within your Regional Office's jurisdiction.</h2>
  <p class="cf-msg-screen-text">Double-check the appeal's jurisdiction or try opening another appeal in VACOLS</p>
</div>
