<% content_for :page_title do %>Unauthorized<% end %>

<div class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
  <h1 class="cf-msg-screen-heading">Drat!</h1>
  <h2 class="cf-msg-screen-deck">You aren't authorized to use this part of Caseflow yet.</h2>
  <p class="cf-msg-screen-text">Please speak with your ISO about adding the necessary CSS Role to your account.</p>


  <% if ApplicationController.dependencies_faked? %>
    <p class="cf-msg-screen-text">
      <a href="<%= test_users_url %>">
        Switch users to access this page.
      </a>
    </p>
  <% end %>

</div>
