@import 'uswds/lib/addons/font-stacks';
@import 'uswds/core/variables';

@media print {
  body {-webkit-print-color-adjust: exact;}
  h1,
  h2,
  h3 {
    font-family: sans-serif;
    font-size: 11px;
  }

  .cf-hearings-worksheet-issues {
    thead {
      display: table-row-group;
   }

    td {
      padding: 0 .5em;
      padding-bottom: 0;
    }

    textarea {
      border: none;
      font-size: 11px;
      padding: 0;
      // scss-lint:disable ImportantRule
      resize: none !important;
      // scss-lint:enable ImportantRule
      overflow: auto;
      height: 0;
  }

    tr {
      border-bottom: 1px solid $color-gray-lighter;
      page-break-inside: avoid;
   }

    .cf-form-textarea {
      min-height: 25px;
      margin-bottom: 0;
   }
 }


  .cf-help-divider {
    display: none;
 }

  .transcriptRequested {
    .cf-form-checkboxes {
      margin-bottom: 0;
      margin-top: 0;
   }
 }

  .cf-hearings-divider {
    border-bottom: 1px solid $color-gray-lighter;
  }

  .cf-tab-navigation {
    border-bottom: none;
    margin-top: 0;
 }

  .cf-tab {
    border: none;
    background: $color-white;
    padding: 0;
    color: $color-gray;
    line-height: normal;
    font-weight: 500;
    font-size: 1.1rem;
 }

  .cf-active {
    color: $color-primary;
    font-weight: 700;
    border: none;
 }

  .cf-active + .cf-tab {
    border-left: none;
 }

  .cf-active > span {
    top: 1px;
    display: initial;
    box-shadow: 0 0 0 $color-white inset;
  }

  .usa-button,
  .usa-button-primary,
  .usa-button:visited,
  .usa-button-primary:visited,
   button,
   [type="button"],
   [type="submit"],
   [type="reset"],
   [type="image"] {
    width: auto;
 }

  .cf-hearings-worksheet-data {
    white-space: pre-line;
    margin-bottom: 0;

    p {
      font-size: 11px;
      margin-top: 10px;
    }

    h4 {
      font-size: 11px;
      margin-top: 0;
    }

    .cf-form-textinput {
      p {
        margin-top: 0;
      }
    }

 }

  .cf-tab-window-body-full-screen {
    margin-top: -35px;
 }

  .cf-title-meta-right {
    margin-bottom: 2px;
 }

 .cf-app-segment {
    margin-top: -35px;
 }

 .cf-content-inside .cf-app-segment {
    margin-bottom: -19px;
}

  .cf-print-page-break {
    break-after: page;
  }

  body {
    counter-reset: page pages;
 }

  .cf-print-number {
    counter-reset: pages 1;
    counter-increment: pages;
}

  .cf-print-number::before {
    counter-increment: page;
    content: 'Page ' counter(page) ' of ' counter(pages);
    margin-left: 5px;
  }

  .cf-hearings-first-page {
    display: flex;
    flex-direction: column;

    .cf-print-footer {
      position: absolute;
      bottom: 25px;
      right: 30px;
     }
  }

  .cf-hearings-worksheet {
    margin-bottom: 0;
    padding-bottom: 0;

    table {
      margin: 1em 0 0;

   }

    .cf-form-textarea {
      textarea {
        // scss-lint:disable ImportantRule
        height: 28px !important;
        // scss-lint:enable ImportantRule
   }
 }


    .cf-hearings-second-page {
      min-height: 11in;
      display: flex;
      flex-direction: column;
      padding: 2em;

      p {
        margin-top: 0;
        margin-bottom: 1.2rem;
      }

      .cf-hearings-worksheet-form {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .cf-hearings-worksheet-data:first-child {
          margin-top: -35px;
        }

        .cf-hearings-worksheet-data:last-child {
          margin-bottom: inherit;
        }
      }
    }
  }
}

@page {
  size: 8.5in 11in;
  margin: 0;
}
