.save-button-styling {
  float: right;
  padding-right: 20px;
}

.cancel-button-styling {
  display: inline-block;
  padding-left: 20px;
}

.button-wrapper-styling {
  margin-bottom: 30px;
  margin-top: 30px;
}
