.history-table-styling {
  padding-top: 0;
  padding-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: $color-gray-lighter;
  vertical-align: text-top;
  font-family: Source Sans Pro;
  font-size: 19px;
  width: 20%;
}

.lever-history-table-header-styling {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: $color-gray-lighter;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.3em/25px;
}

.case-distribution-history-content {
  .cf-lead-paragraph {
    margin-bottom: 0;
  }
}

.lever-history-styling {
  padding: 0;

  table {
    width: 100%;
    margin-top: 0;

    tr {
      border-bottom: 1px solid $color-gray-lighter;

      th {
        padding: 10px;
      }

      td {
        padding: 10px;
        vertical-align: middle;

        ol {
          list-style-position: inside;
          padding-left: 0;
          margin: 0;
        }
      }
    }
  }

  .entry-user-id {
    width: 10%;
  }

  .entry-previous-values,
  .entry-updated-values {
    width: 15%;
  }

  .entry-titles {
    width: 40%;
  }
}
