.titleStyling {
  border: none;
  padding-top: 20px;
  margin-top: 0;
  padding-bottom: 0;
  vertical-align: text-top;
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.5em/25px;
  column-span: all;
};

$stylingborderbottom: #ccc;

.descriptionStyling {
  width: 100%;
  border: none;
  padding-top: 0;
  margin-top: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  vertical-align: text-top;
  border-bottom: 1px solid $stylingborderbottom;
};

.valueStyling {
  width: 25%;
  border: none;
  padding-top: 0;
  padding-left: 22%;
  margin-top: 0;
  white-space: noWrap;
  padding-bottom: 20px;
  padding-right: 20px;
  vertical-align: text-top;
  border-bottom: 1px solid $stylingborderbottom;
};

.valueRightStyling {
  margin-right: 5px;
}

$tableheaderbordercolor: #d6d7d9;

.tableHeaderStylingLeft {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: $tableheaderbordercolor;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.3em/25px;
};

.tableHeaderStylingRight {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: $tableheaderbordercolor;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3em/25px;
  padding-left: 22%;
}

.tableStyling {
  width: 100%;
  table-layout: fixed;
}
