.test-seeds-num-field {
  // width: auto;

  .cf-form-int-input {
    width: auto;
    display: inline-block;
    position: relative;

    .input-container {
      width: auto;
      display: inline-block;
      vertical-align: middle;
    }

    label {
      position: absolute;
      bottom: 6px;
      left: 90px;
    }
  }
}

.test-seed-button-style {
  width: auto;

  button {
    padding-top: 14px;
    padding-bottom: 20px;
    height: 45px;
  }
}

.seed-col {
  width: 15%;
}

.seed-table-style tr th {
  background: transparent;
}

.seed-table-style tr td {
  border: 0;
  padding: 1rem 3rem;
}

.test-seeds-cssid-field {
  input {
    width: 110px;
  }
}

.custom-seeds-preview {
  border-bottom: 1px solid #d6d7d9;
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
.preview-table-scroll {
  height: 400px;
  overflow: auto;
  position: relative;
}

.preview-table {
  margin: 0;
}

.preview-table tr th {
  background-color: #f1f1f1;
  position: sticky;
  top: 0;
  z-index: 9;
}

.preview-table tr th, .preview-table tr td {
  border: 1px solid #d6d7d9;
  border-bottom: 0;
  border-right: 0;
  padding: 10px;
}

.preview-table tr th:last-child, .preview-table tr td:last-child {
  border-right: 1px solid #d6d7d9;
}

.preview-table tr:last-child th, .preview-table tr:last-child td {
  border-bottom: 1px solid #d6d7d9;
}
