$exclusion-table-header-color: #d3d3d3;

.exclusionTableHeaderStyling {
  color: $exclusion-table-header-color;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
};

.exclusionTableContainerStyling {
  padding-top: 0;
  padding-bottom: 0;
}

$border-color: #d6d7d9;

.exclusionTableStyling {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: $border-color;
  vertical-align: text-top;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.3em/25px;
  width: 20%;
}

.tableHeaderStyling {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: $border-color;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.3em/25px;
}

.exclusionTableMemberViewStyling {
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: $border-color;
  vertical-align: text-top;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.3em/25px;
  width: 20%;
}

.leverDisabled {
  opacity: 72%;
}
