/* eslint-disable */

$exclusion-table-header-color: #d3d3d3;
$border-color: #d6d7d9;

.exclusionTableHeaderStyling {
  color: $exclusion-table-header-color;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.exclusionTableContainerStyling {
  padding: 0;
}

.exclusionTableStyling,
.tableHeaderStyling,
.exclusionTableMemberViewStyling {
  padding: 0;
  margin-top: 0;
  border: 0;
  border-color: $border-color;
  vertical-align: text-top;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.3em/25px;
  width: 20%;
}

.tableHeaderStyling {
  font-weight: 700;
}

.exclusionTableMemberViewStyling {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.leverDisabled {
  opacity: 72%;
}
