.leverContainer {
  width: 100%;
  border: 1px solid #e4e2e0;
  border-radius: 4px;
  margin-top: 20px;
  display: inline-block;
  h4: {
      margin: 0;
      background: #e4e2e0;
      padding: 10px 20px;
  }
  strong: {
    font-size: 19px;
    line-height: 1.5em;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.leverContent {
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.leverTop {
  p {
      margin: 10px 0;
      font-size: 19px;
      line-height: 1.5em;
      margin-bottom: 5px;
      margin-top: 5px;
  }
}

.activeLever {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #e4e2e0;
  box-sizing: border-box;
  font-size: 19px;
  line-height: 1.5em;
  margin-bottom: 5px;
}

.leverHead {
  width: 100%;
  border-bottom: 1px solid #e4e2e0;
  display: inline-block;
  padding-bottom: 15px;
}

.leverLeft {
  width: 70%;
  display: inline-block;
  margin-right: 30px;
  font-size: 19px;
  line-height: 1.5em;
  margin-bottom: 5px;
  margin-top: 5px;
}

.leverRight {
  width: 25%;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
  input {
      width: 65px;
      height: 45px;
      margin-right: 10px;
      display: inline-block;
      text-align: right;
      font-size: 19px;
      line-height: 1.5em;
      margin-bottom: 5px;
      margin-top: 5px;
  }
}
.leverUnit {
  width: auto;
  vertical-align: middle;
  display: inline-block;
}

.docketLeverLeft{
  vertical-align: middle;
  width: 36%;
  margin-right: 0;
}

.leverMiddle{
  width: 36%;
  display: inline-block;
  vertical-align: middle;
  input {
      width: 65px;
      height: 45px;
      margin-right: 10px;
      display: inline-block;
      text-align: right;
      font-size: 19px;
      line-height: 1.5em;
      margin-bottom: 5px;
      margin-top: 5px;
  }
  label {
    margin-right: 10px;
    display: inline-block;
    text-align: right;
    font-size: 19px;
    line-height: 1.5em;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.docketLeverRight {
  vertical-align: middle;
  button {
    vertical-align: middle;
    display: inline-block;
  }
}

.leverDisabled {
  opacity: 72%;
}

.combinedRadioInput {
  input {
      width: 65px;
      height: 45px;
      margin-right: 10px;
      font-size: 19px;
      line-height: 1.5em;
      display: inline-block;
      text-align: right;
      margin-left: 28px;
      margin-bottom: 10px;
  }
}

.toggleInputHide {
    display: none;
}

.toggleSwitchInput {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.footerStyling {
  margin-top: 10px;
  padding-top: 10px;
}

#numberFieldInput {
  font-size: 19px;
  line-height: 1.5em;
  margin-bottom: 5px;
  vertical-align: middle;
}

.modalTableStyling {
  margin-top: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 0;
  padding-right: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #d6d7d9;
  color: #212121;
  vertical-align: text-top;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em/25px;
  width: 20%
}

.modalTableHeaderStyling {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding-left: 0;
  color: #212121;
  border-color: #d6d7d9;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3em/25px;
}

.modalTableLeftStyling {
  width: 60%;
}

.modalTableRightStyling {
  width: 20%;
}

.updatedModalStyling > div > div {
  padding-bottom: 0px;
}

.disabledText {
  color: #212121 !important;
  opacity: 100% !important;
}

.leverActive {
  color: #212121 !important;
  opacity: 100% !important;
}
