$border-color: #e4e2e0;
$lever-disabled-color: #757575;

$modal-border-color: #d6d7d9;
$modal-table-color: #212121;

$lever-alert-bg-color: #f1f1f1;
$lever-alert-banner-color: #205493;

$lever-alert-banner-hover-color: #112e51;
$before-bg-color: #8b8b8b;

$success-bg-color: #e7f4e4;
$success-before-bg-color: #2e8540;

$error-color: #f9dede;
$error-before-bg-color: #e31c3d;

.leverContainer {
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-top: 20px;
  display: inline-block;

  h4 {
    margin: 0;
    background: $border-color;
    padding: 10px 20px;
  }

  strong {
    font-size: 19px;
    line-height: 1.5em;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.leverContent {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.leverTop {
  p {
    margin: 10px 0;
    font-size: 19px;
    line-height: 1.5em;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.activeLever {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid $border-color;
  box-sizing: border-box;
  font-size: 19px;
  line-height: 1.5em;
  margin-bottom: 5px;
}

.leverHead {
  width: 100%;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  padding-bottom: 15px;
}

.leverLeft {
  width: 70%;
  display: inline-block;
  margin-right: 30px;
  font-size: 19px;
  line-height: 1.5em;
  margin-bottom: 5px;
  margin-top: 5px;
}

.leverRight {
  width: 25%;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 3px;

  input {
    width: 65px;
    height: 45px;
    margin-right: 10px;
    display: inline-block;
    text-align: right;
    font-size: 19px;
    line-height: 1.5em;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.leverUnit {
  width: auto;
  vertical-align: middle;
  display: inline-block;
}

.docketLeverLeft {
  vertical-align: middle;
  width: 36%;
  margin-right: 0;
}

.leverMiddle {
  width: 36%;
  display: inline-block;
  vertical-align: middle;

  input {
    width: 65px;
    height: 45px;
    margin-right: 10px;
    display: inline-block;
    text-align: right;
    font-size: 19px;
    line-height: 1.5em;
    margin-bottom: 12px;
    margin-top: 12px;
  }

  label {
    margin-right: 10px;
    display: inline-block;
    text-align: right;
    font-size: 19px;
    line-height: 1.5em;
    margin-bottom: 12px;
    margin-top: 12px;
  }
}

.docketLeverRight {
  vertical-align: middle;

  button {
    vertical-align: middle;
    display: inline-block;
  }
}

.leverDisabled {
  opacity: 0.72;
  color: $lever-disabled-color;
}

.combinedRadioInput {
  input {
    width: 65px;
    height: 45px;
    margin-right: 10px;
    font-size: 19px;
    line-height: 1.5em;
    display: inline-block;
    text-align: right;
    margin-left: 28px;
    margin-bottom: 10px;
  }
}

.toggleInputHide {
  display: none;
}

.toggleSwitchInput {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.footerStyling {
  margin-top: 10px;
  padding-top: 10px;
}

.numberFieldInput {
  font-size: 19px;
  line-height: 1.5em;
  margin-bottom: 5px;
  vertical-align: middle;
}

.modalTableStyling {
  padding: 18px 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: $modal-border-color;
  color: $modal-table-color;
  vertical-align: text-top;
  font-size: 16px;
  line-height: 1.3em/25px;
  width: 20%;
}


.modalTableHeaderStyling {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding-left: 0;
  color: $modal-table-color;
  border-color: $modal-border-color;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3em/25px;
}

.modalTableLeftStyling {
  width: 60%;
}

.modalTableRightStyling {
  width: 20%;
}

.updatedModalStyling>div>div {
  padding-bottom: 0;
}

.disabledText {
  color: $modal-table-color;
  opacity: 100%;
}

.leverActive {
  color: $modal-table-color;
  opacity: 100%;
}

.leverAlertBanner {
  background-color: $lever-alert-bg-color;
  background-position: 2rem 2rem;
  background-size: 5.2rem;
  padding-left: .75rem;
  padding-top: 1em;
  padding-bottom: 0.02rem;
  position: relative;
  margin-top: 1.5em;
  align-items: center;
  text-align: left;

  h3 {
    font-size: 24px;
    margin-bottom: 0.1rem;
    padding-left: 3em;
  }

  p {
    font-size: 17px;
    margin-top: .1rem;
    padding-left: 4.25em;
  }

  a {
    color: $lever-alert-banner-color;

    &:focus,

    &:hover {
      color: $lever-alert-banner-hover-color;
    }
  }

  ul {
    margin-bottom: 0;
    margin-top: 1rem;
    padding-left: 1rem;
  }

  &::before {
    background-color: $before-bg-color;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1rem;
  }

  &-icon {
    display: flex;
    align-items: center;
    padding-right: 1rem;
  }

  &-body {
    display: table-cell;
    vertical-align: top;
  }

  &-heading {
    margin-top: 0;
    margin-bottom: 0;
  }

  &-text {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
    margin-bottom: 0;
    margin-top: 0;

    &:only-child {
      margin-bottom: 1rem;
      padding-top: 0.5rem;
    }
  }

  &-success {
    background-color: $success-bg-color;
    background-image: url('~uswds/src/img/alerts/success.svg');

    ::before {
      background-color: $success-before-bg-color;
    }

    .leverAlertBanner-body {
      padding-left: 5rem;
    }
  }

  &-error {
    background-color: $error-color;
    background-image: url('~uswds/src/img/alerts/error.svg');

    ::before {
      background-color: $error-before-bg-color;
    }

    .leverAlertBanner-body {
      padding-left: 5rem;
    }
  }

  &-no_icon {
    background-image: none;
  }

  &-paragraph {
    width: 66ch;
  }
}
