<%= content_for :information do %>
  <p><%= "You scheduled a #{@hearing_type} hearing for #{@veteran_name} on #{@hearing_date} and entered the #{@recipient_role} email #{@email_address}. Caseflow tried to send a #{@email_type} email to that address, but the email failed to send." %></p>
<% end %>

<%= content_for :instructions do %>
  <p>Please check the email address and <%= external_link hearing_details_url(@hearing), display_text: "update it on the Hearing Details page" %> if it contains a typo or you have an alternate address. If you update the email address and Save at the bottom of the screen, email will be sent to the updated address.</p>
<% end %>