<% content_for :page_title do %>&nbsp &gt &nbspStats<% end %>

<ul>
  <li>
    <%= link_to "Certification Stats", certification_stats_path %>
  </li>
  <li>
    <%= link_to "Dispatch Stats", dispatch_stats_path %>
  </li>
</ul>