@import 'uswds/lib/addons/font-stacks';
@import 'uswds/core/variables';

.comment-control-button-container {
  display: inline-block;
  width: 100%;
}

.comment-control-button {
  padding: 0;
}

.comment-control-button-divider {
  padding: 0 10px;
}

.comment-container-selected {
  box-shadow: 0 0 10px $color-focus;
}

.comment-container {
  background-color: $color-white;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid $color-gray-lighter;
}
