@import 'uswds/lib/addons/font-stacks';
@import 'uswds/core/variables';

.comment-control-button-container {
  display: flex;
  width: 100%;
  padding: 3px 0;
  justify-content: space-between;
}

.comment-save-button-container {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 17px;
}

.comment-control-button {
  padding: 0;
}

.comment-control-button-divider {
  padding: 0 10px;
}

.comment-container-selected {
  box-shadow: 3px 3px 5px $color-gray-light;
}

.comment-container {
  word-wrap: break-word;
  word-break: break-word;
  background-color: $color-white;
  padding: 25px 15px;
  margin-bottom: 15px;

  &:not(.comment-horizontal-container) {
    border-radius: 3px;
    border: 1px solid $color-gray-lighter;
  }
}

.comment-horizontal-container {
  display: inline-block;
  width: 100%;
}

.comment-horizontal-spacing {
  margin-right: 49px;
}

.comment-textarea {
  border-color: $color-gray-dark;
}
