@import 'uswds/lib/addons/font-stacks';
@import 'uswds/core/variables';

.comment-control-button-container {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.comment-control-button {
  padding: 0;
}

.comment-control-button-divider {
  padding: 0 10px;
}