@import 'uswds/lib/addons/font-stacks';
@import 'uswds/core/variables';

.link-matte {
  margin: 0 8px;
  color: inherit;
  padding: 0;
  background-color: transparent;
  font-size: inherit;
  pointer-events: all;
  line-height: normal;

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: none;
    background-color: transparent;
    color: $color-primary-alt;

    svg g {
      fill: $color-primary-alt;
    }
  }

  svg {
    vertical-align: bottom;
  }

  &:focus {
    box-shadow: none;
  }
}

.link-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  width: 100%;
}
