@import 'uswds/lib/addons/font-stacks';
@import 'uswds/core/variables';

.loadingContainer-positioning {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loadingContainer-table {
  width: 100%;
  height: 100%;
  display: table;
}

.loadingContainer-table-cell {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.loadingContainer-content {
  position: relative;
  z-index: 1;
  height: 80vh;
}

.loadingContainer-container {
  position: relative;
  overflow: hidden;
}
