@import '../../../client/node_modules/uswds/src/stylesheets/lib/addons/font-stacks';
@import '../../../client/node_modules/uswds/src/stylesheets/core/variables';

.usa-banner {
  background-color: $color-gold-lightest;
  text-align: center;
}

.usa-banner-inner {
  padding: .5em;
}

.banner-icon {
  display: inline-block;
  vertical-align: text-top;
  height: 25px;
}

.banner-text {
  padding-left: 10px;
}
