//rc-collapse
// Repo: https://github.com/react-component/collapse
// //This css has been modified to match the accordion for caseflow.
@import '../../../client/node_modules/uswds/src/stylesheets/lib/addons/font-stacks';
@import '../../../client/node_modules/uswds/src/stylesheets/core/variables';

@mixin common() {

  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

@mixin right($w, $h, $color) {

  border-top: $w solid transparent;
  border-bottom: $w solid transparent;
  border-left: $h solid $color;
}

@mixin bottom($w, $h, $color) {

  border-left: $w solid transparent;
  border-right: $w solid transparent;
  border-top: $h solid $color;
}

// scss-lint:disable IdSelector
#arrow {
  @include common();
  @include right(3px, 4px, $color-gray);
  @include bottom(3px, 4px, $color-gray);
}
// scss-lint:enable IdSelector

.rc-collapse {

  &-anim-active {
    transition: height .2s ease-out;
  }

  & > &-item {
    &:first-child {
      border-top: none;
    }
  }

  & > &-item-disabled > .rc-collapse-header {
    cursor: not-allowed;
    color: $color-gray-light;
    background-color: $color-gray-lighter;
  }

  &-content {
    overflow: hidden;

    &-inactive {
      display: none;
    }
  }

  &-item:last-child {
    > .rc-collapse-content {
      border-radius: 0 0 3px 3px;
    }
  }

  & > &-item-active {
    > .rc-collapse-header {

      .arrow {
        // scss-lint:disable IdSelector
        #arrow > {
          @include bottom(3px, 4px, $color-gray);
        }
        //scss-lint:enable IdSelector
      }
    }
  }
}
