<% content_for :styleguide_content do %>
<h1 id="commons">Caseflow Commons</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Integer varius est sem. Donec cursus lobortis odio.
  Morbi eget urna sed lacus rhoncus vestibulum sed nec mi.
  Morbi ullamcorper tincidunt diam, quis lobortis urna luctus quis.
  Sed pulvinar enim sit amet suscipit congue. Nulla eu lobortis ex.
  Duis pellentesque dapibus felis nec dignissim.
  Praesent semper eros leo, eu facilisis arcu euismod interdum.
  Nulla at placerat arcu.
  Integer fringilla nisl purus, in euismod felis elementum pharetra.
  Suspendisse quis fermentum magna.
</p>
<p>
  <a class="usa-button"
    href="https://github.com/department-of-veterans-affairs/caseflow-commons">
    View on Github
  </a>
  <a class="usa-button usa-button-outline" href="#">Download UI Kit</a>
</p>
<div class="cf-help-divider"></div>
<h2 id="modals">Modals</h2>
<a class="usa-button usa-button-outline" href="#">Launch Modal</a>
<ul class="usa-accordion">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="true" aria-controls="amendment-1">
        Code
      </button>
      <div id="amendment-1" class="usa-accordion-content">
        <pre>
          blah blah blah
        </pre>
      </div>
    </li>
  </ul>

<% end %>
