<% content_for :styleguide_content do %>
<% content_for :page_title do %>Commons<% end %>
<h1 id="commons">Caseflow Commons</h1>
<p>
  Caseflow Commons is home to our most up to date style guide, UI Kit, and code for Caseflow products.
  The goal is to maintain consistent styling across Caseflow applications and to keep our interface predictable and familiar to the user.
  This unified system also helps us reuse common code across our apps and increase the efficiency of the design process.
</p>
<p>
  <a class="usa-button"
    href="https://github.com/department-of-veterans-affairs/caseflow-commons">
    View on Github
  </a>
  <a class="usa-button usa-button-outline" href="#">Download UI Kit</a>
</p>
<div class="cf-help-divider"></div>
<h2 id="modals">Modals</h2>
    <%= react_component("BaseContainer", props: {
        page: "StyleGuide"
      }) %>
      <p>Modals are 490 pixels in width with 30px padding around the border and
      contain the following: a title, explanation text, a divider,
      and action buttons. There are modal-specific classes that must be included
      in your modal (see below code snippets).</p>
<ul class="usa-accordion usa-unstyled-list">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="false" aria-controls="modals-code">
        Code (jQuery/ERB)
      </button>
      <div id="modals-code" class="usa-accordion-content cf-code-sample" aria-hidden="true">
        <%= code_sample(initialize_modal_erb) %>
      </div>
    </li>
    <li>
      <button class="usa-accordion-button"
        aria-expanded="false" aria-controls="modals-react-code">
        Code (React/ES6)
      </button>
      <div id="modals-react-code" class="usa-accordion-content cf-code-sample" aria-hidden="true">
        <%= code_sample(initialize_modal_react) %>
      </div>
    </li>
  </ul>

<% end %>
