<% content_for :styleguide_content do %>
<% content_for :page_title do %>Commons<% end %>
<h1 id="commons">Caseflow Commons</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Integer varius est sem. Donec cursus lobortis odio.
  Morbi eget urna sed lacus rhoncus vestibulum sed nec mi.
  Morbi ullamcorper tincidunt diam, quis lobortis urna luctus quis.
  Sed pulvinar enim sit amet suscipit congue. Nulla eu lobortis ex.
  Duis pellentesque dapibus felis nec dignissim.
  Praesent semper eros leo, eu facilisis arcu euismod interdum.
  Nulla at placerat arcu.
  Integer fringilla nisl purus, in euismod felis elementum pharetra.
  Suspendisse quis fermentum magna.
</p>
<p>
  <a class="usa-button"
    href="https://github.com/department-of-veterans-affairs/caseflow-commons">
    View on Github
  </a>
  <a class="usa-button usa-button-outline" href="#">Download UI Kit</a>
</p>
<div class="cf-help-divider"></div>
<h2 id="modals">Modals</h2>
    <%= react_component("BaseContainer", props: {
        page: "StyleGuide"
      }) %>
      <p>Modals are 490 pixels in width with 30px padding around the border and
      contain the following: a title, explanation text, a divider,
      and action buttons. There are modal-specific classes that must be included
      in your modal (see below code snippets).</p>
<ul class="usa-accordion usa-unstyled-list">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="false" aria-controls="modals-code">
        Code (jQuery/ERB)
      </button>
      <div id="modals-code" class="usa-accordion-content" aria-hidden="true">
        <%= code_block do %>
          <p>jkjlkjlkjlkjlj</p>
        <% end %>
      </div>
    </li>
    <li>
      <button class="usa-accordion-button"
        aria-expanded="false" aria-controls="modals-react-code">
        Code (React/ES6)
      </button>
      <div id="modals-react-code" class="usa-accordion-content" aria-hidden="true">
        <%= code_block do %>
          <p>ghkhkjhhjkkhjhkhjk</p>
        <% end %>
      </div>
    </li>
  </ul>

<% end %>
