name: Validate Demo

on:
  workflow_dispatch:
  push:
    branches: f-gh-migration

jobs:
  validate-demo:
    runs-on: ubuntu-8-cores-latest
    services:
      postgres:
        image: postgres:11.7
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: password
          POSTGRES_DB: caseflow_certification_test
        ports:
        - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      redis:
        image: redis:4.0.10
        ports:
        - 6379:6379
      facols_db:
        image: 008577686731.dkr.ecr.us-gov-west-1.amazonaws.com/facols:latest
        credentials:
          username: AWS
          password: ${{ secrets.ECR_PASSWORD }}
        env:
          VACOLS_DEV_HOST: facols_db
        ports:
        - 1521:1521
    container:
      image: 008577686731.dkr.ecr.us-gov-west-1.amazonaws.com/gaimg-ruby:2.7.3-ga-browsers
      credentials:
        username: AWS
        password: ${{ secrets.ECR_PASSWORD }}
      env:
          DBUS_SESSION_BUS_ADDRESS: /dev/null
          RAILS_ENV: test
          NODE_ENV: test
          BUNDLE_PATH: vendor/bundle
          COVERAGE_DIR: /home/circleci/coverage
          POSTGRES_HOST: localhost
          POSTGRES_USER: root
    steps:
      - uses: actions/checkout@v3

      - name: restore yarn cache
        uses: actions/cache/restore@v3
        with:
          key: dot-cache-yarn-v2-{{ arch }}-{{ checksum "client/yarn.lock" }}
          path: |
            ~/.cache/yarn
            public/assets
            tmp/cache/assets/sprockets
          restore-keys:
            dot-cache-yarn-v2-{{ arch }}-{{ checksum "client/yarn.lock" }}

      - name: Install Node Dependencies
        run: ./ci-bin/capture-log "cd client && yarn install --frozen-lockfile"

      - name: Save Cache
        uses: actions/cache@v3
        with:
          key: dot-cache-yarn-v2-{{ arch }}-{{ checksum "client/yarn.lock" }}
          path: |
            ~/.cache/yarn
            public/assets
            tmp/cache/assets/sprockets
          restore-keys:
            dot-cache-yarn-v2-{{ arch }}-{{ checksum "client/yarn.lock" }}

      - name: Install chromium
        run: |
          CHROME_VERSION="106.0.5249.119-1"
          apt-get update
          wget --no-verbose -O /tmp/chrome.deb https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_${CHROME_VERSION}_amd64.deb \
          && apt install -y /tmp/chrome.deb \
          && rm /tmp/chrome.deb

      - name: Install firefox
        run: |
          FIREFOX_VERSION="106.0.1"
          apt-get -y install libgtk2.0-0
          wget https://ftp.mozilla.org/pub/firefox/releases/${FIREFOX_VERSION}/linux-x86_64/en-GB/firefox-${FIREFOX_VERSION}.tar.bz2
          tar xvf firefox-${FIREFOX_VERSION}.tar.bz2
          mv firefox/ /usr/lib/firefox
          ln -s /usr/lib/firefox /usr/bin/firefox

      - name: setup testfiles directory
        run: ./ci-bin/capture-log "mkdir -p ~/project/tmp/testfiles"


      - name: Install Ruby Dependencies
        run: |
          ruby -v
          BASH_ENV="Bash"
          echo 'export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")' >> "$BASH_ENV"
          export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")
          gem install bundler
          bundle install --path vendor/bundle

      - name: Install Dockerize
        run: |
          DOCKERIZE_VERSION="v0.6.1"
          wget https://github.com/jwilder/dockerize/releases/download/${DOCKERIZE_VERSION}/dockerize-linux-amd64-${DOCKERIZE_VERSION}.tar.gz \
          && sudo tar -C /usr/local/bin -xzvf dockerize-linux-amd64-${DOCKERIZE_VERSION}.tar.gz \
          && rm dockerize-linux-amd64-${DOCKERIZE_VERSION}.tar.gz

      - name: "Wait for database"
        run: dockerize -wait tcp://postgres:5432 -timeout 1m

      - name: "Wait for FACOLS"
        run: |
          VACOLS_DEV_HOST="facols_db"
          export $VACOLS_DEV_HOST
          echo $VACOLS_DEV_HOST
          sleep 180
          ./ci-bin/capture-log "bundle exec rake local:vacols:wait_for_connection"
